
<div class="row">
  <div class="cell_140">Team:</div>
  <div class="cell_200">Stat:</div>
</div>
<div class="row">
  <div class="cell_140">

    <%=
        collection_select(:team, :id, 
            Affiliation.get_teams_by_league(@league.affiliation_id, @league.affiliation_key, "display_names.last_name ASC"),
            :team_id, :last_name, 
            {:include_blank => "Select Team...."},
            {:onchange => "$('stat_stats_field').enable();"
            } )
        %>

  </div>
  <div class="cell_200">
        <%= 
          collection_select(:stat, :stats_field, 
            StatsMapping.get_stats_fields("basketball_offensive_stat", "basketball"),
            :stats_field, :stats_name, 
            {:include_blank => "Select Stat...."},
            {:disabled => true} )
        %>
  </div>
  <div class="cell_60">
    <%= button_to_remote("Go", 
                      {:url => {:controller => "draggables", :action => "route_action"},
                      :with => "'drop_id=#{@drop_id}&amp;dragged_id=#{@dragged_id}&amp;stat_field=' + $('stat_stats_field').value"} )
    %>
  </div>
</div>


      
<div class="row" align="center">
  <div class="cell_180" align="left">Player</div>
  <div class="cell_40"><%= @stat.abbreviation %></div>
  <% @stats_fields.each do |field| %>
    <div class="cell_40"><%= field.abbreviation %></div>
  <% end %>
</div>

<% 
  i = 0
  @leaders.each do |leader|
    if (i%2 == 0)
      html_class = "even_row"
    else
      html_class = "odd_row"
    end
%>
  <div class="<%= html_class %>">
    <div class="cell_180" align="left"><%= leader.full_name %></div>
    <div class="cell_40"><%= leader[@stat.stats_field] %></div>
    <% @stats_fields.each do |field| %>
      <div class="cell_40"><%= leader[field.stats_field] %>&nbsp;</div>
    <% end %>
  </div>
  
<%
    i += 1
  end
%>
