
  <%= render :partial => "draggables/partials/header" %>

  <ul id="<%= @drop_id %>_content">
    <li>
      <span class="clps05col clps">Date<br/>Time</span>
      <span class="clps05col clps">Home</span>
      <span class="clps05col clps">Away</span>
      <span class="clps05col clps">&nbsp;</span>
      <span class="clps05col clps">TV</span>
      <div class="clear"></div>
    </li>
  
<%
    @games.each do |game|
%>
    
    <li>
      <span class="clps05col clps"><%= game.start_date_time.strftime("%a, %m/%d") %><br/><%= game.start_date_time.strftime("%I:%M%P") %></span>
      <span class="clps05col clps"><a href="/team/<%= game.t1_id %>"><%= @isCollege ? names.team_first_name(game.t1_id) : names.team_last_name(game.t1_id) %></a></span>
      <span class="clps05col clps"><a href="/team/<%= game.t2_id %>"><%= @isCollege ? names.team_first_name(game.t2_id) : names.team_last_name(game.t2_id) %></a></span>
      <% if game.event_status == "pre-event" %>
        <span class="clps05col clps">
          <a href="javascript:void(0)" onclick="new Ajax.Request('/article/event_preview', {asynchronous:true, evalScripts:true, parameters:'drop_id=<%= @drop_id %>&amp;dragged_id=<%= @dragged_id %>&amp;event_id=<%= game.event_id %>&amp;prev_partial=<%= @partial_path %>'}); return false;">Preview</a>
        </span>
      <% else %>
        <span class="clps05col clps">&nbsp;</span>
      <% end %>
      <span class="clps05col clps"><%= game.broadcast_listing.to_s %></span>
      <div class="clear"></div>
    </li>

<%
    end # close games loop
%>

  </ul>

<%= render :partial => "draggables/partials/footer" %>