

<div class="head">
  <h1 name="section-title"><%= @drop_title %></h1>
  <h2><a href="javascript:void(0);" id="<%= @drop_id %>ToggleText" name="Expand" onclick="expandCollapseTarget('<%= @drop_id %>');">Expand</a></h2>
</div>

<div id="<%= @drop_id %>_scroll-up" class="scroll-up" onmouseout="stopScroll();">
  <a href="javascript:void(0);" name="scroll-up" class="up" onclick="jumpToTop('<%= @drop_id %>_content')" title="Click to jump to top"></a>
</div>

<!-- Chalkboard_content -->
<ul id="<%= @drop_id %>_content" class="chalkboard">
<%  
  path = RAILS_ROOT + "/public/users/#{@user.id}/#{@user.id}.chalkboard"
  parser = XML::Parser.file(path)
  profile = parser.parse
  comments = profile.find('//root/comment')
  (comments.length - 1).downto(0) do |i|
    comment = comments[i]
    img_path = "/users/#{comment.find('from').first['id']}/#{comment.find('from').first['id']}_thumbnail.png"
    text = CGI.unescape(comment.find('text').first.content)
%>
          
  <li class="<%= (i % 2) == 0 ? "even" : "odd" %>">
    <a href="javascript:void(0);" name="headshot"><img src="<%= img_path %>" class="headshot" /></a>
    <p><%= text.gsub(/\n/, '<br/>') %></p>
    <em>Posted by <a href="*" name="friend"><%= CGI.unescape(comment.find('from').first.content) %></a> on<br /><%= CGI.unescape(comment.find('date').first.content) + " @ " + CGI.unescape(comment.find('time').first.content) %>.
    <br/><a href="*" name="reply">Reply</a> | <a href="*" name="edit">Delete</a></em>
    <div class="clear"></div>
  </li>
  
<% end %>

</ul> <!-- close chalkboard_content -->

<%= render :partial => "draggables/partials/footer" %>

