
<%= render :partial => "draggables/partials/header" %>

<div class="anchors">
  <%
    @leagues.each do |league|
      abbr = @abbr = (league.abbreviation).gsub(/[\s']/, "_")
  %>
    <a href="javascript:void(0);" onclick="jumpToAnchor('<%= @drop_id %>_content', '<%= abbr + "_" + @drop_id %>')" title="Jump to <%= league.abbreviation + " " + @drop_title %>"><%= league.abbreviation %></a>&nbsp;
  <% end %>
</div>

  <ul id="<%= @drop_id %>_content">

<% if @leagues.size < 1 %>
  <li>
    <p>There is no current data available for the teams selected in your profile. Try adding teams that are currently in season or click the '<%= link_to_remote "All", {:url => { :controller => 'draggables', :action => 'route_action' }, :with => "'level=#{@level}&amp;full_partial=full&amp;drop_id=#{@drop_id}&amp;dragged_id=#{@dragged_id}'" } %>' link above.</p>
  </li>
<% end %>

<%
    @leagues.size.times do |i|
      abbr = (@leagues[i].abbreviation).gsub(/[\s']/, "_")
%>
  
  <li class="subhead" id="<%= abbr + "_" + @drop_id%>"><%= @leagues[i].abbreviation %> Top Stories</li>
  <% if @articles[i].size < 1 %>
  <li>
    <p>There are no current news stories available for the teams selected in your profile. Try clicking the '<%= link_to_remote "All", {:url => { :controller => 'draggables', :action => 'route_action' }, :with => "'level=#{@level}&amp;full_partial=full&amp;drop_id=#{@drop_id}&amp;dragged_id=#{@dragged_id}'" } %>' link above.</p>
  </li>
  <% end %>
  
<% @articles[i].size.times do |a| %>

    <li>
      <h1>
        <%= link_to_remote @titles[i][a],
           :url => {:controller => "article", :action => "article"},
           :with => "'drop_id=#{@drop_id}&amp;document_id=#{@articles[i][a].document_id}&amp;prev_partial=#{@partial_path}&amp;dragged_id=#{@dragged_id}'"
        %>
        <em><%= @dates[i][a].strftime("%m/%d %I:%M%p") %></em>
      </h1>
      <p><%= @abstracts[i][a] %></p>
      <em>
        <%= link_to_remote "Read more",
           :url => {:controller => "article", :action => "article"},
           :with => "'drop_id=#{@drop_id}&amp;document_id=#{@articles[i][a].document_id}&amp;prev_partial=#{@partial_path}&amp;dragged_id=#{@dragged_id}'"
        %>
      </em>
    </li>
  
<%
    end  #close articles loop
    
  end  #close leagues loop
%>

  </ul>

<!--
<div class="row">
<%
    @leagues.size.times do |i|
%>
  <div id="<%= @drop_id %>_tab_<%= i.to_s %>" class="tab_cell" onmouseover="stop_slideshow(<%= i.to_s %>, '<%= @drop_id %>');" onmouseout="next_slide(<%= i.to_s %>, '<%= @drop_id %>');">
    <%= @leagues[i].abbreviation %>
  </div>
<%  end %>
</div>

<%# javascript_tag "start_slideshow(#{@leagues.size}, '#{@drop_id}');" %>

-->

<%= render :partial => "draggables/partials/footer" %>
