
<%= render :partial => "draggables/partials/header" %>

<div class="anchors">
  <%
    @leagues.each do |league|
      abbr = @abbr = (league.abbreviation).gsub(/[\s']/, "_")
  %>
    <a href="javascript:void(0);" onclick="jumpToAnchor('<%= @drop_id %>_content', '<%= abbr + "_" + @drop_id %>')" title="Jump to <%= league.abbreviation + " " + @drop_title %>"><%= league.abbreviation %></a>&nbsp;
  <% end %>
</div>

 <ul id="<%= @drop_id %>_content">

<% if @leagues.size < 1 %>
  <li>
    <p>There is no current data available for the teams selected in your profile. Try adding teams that are currently in season or click the '<a href="#" onclick="new Ajax.Request('/drop', {asynchronous:true, evalScripts:true, parameters:'level=<%= @level %>&amp;full_partial=full&amp;drop_id=<%= @drop_id %>&amp;dragged_id=<%= @dragged_id %>'}); return false;">All</a>' link above.</p>
  </li>
<% end %>

<%
   @leagues.size.times do |@i|
     abbr = (@leagues[@i].abbreviation).gsub(/[\s']/, "_")
%>

  <li class="subhead" id="<%= abbr + "_" + @drop_id %>"><%= @leagues[@i].abbreviation %> Lines</li>

  <li>
    <span class="clps05col clps">Date</span>
    <span class="clps05col clps">Team</span>
    <span class="clps05col clps">Spread</span>
    <span class="clps05col clps">O/U</span>
    <span class="clps05col clps">Money</span>
    <div class="clear"></div>
  </li>
   
  <% if @lines[@i].size < 1 %>
  <li>
    <p>There are no current lines available for the teams selected in your profile. Try clicking the '<a href="#" onclick="new Ajax.Request('/drop', {asynchronous:true, evalScripts:true, parameters:'level=<%= @level %>&amp;full_partial=full&amp;drop_id=<%= @drop_id %>&amp;dragged_id=<%= @dragged_id %>'}); return false;">All</a>' link above.</p>
  </li>
  <% end %>
  
 <%
    @abbr = (@leagues[@i].abbreviation).gsub(/[\s']/, "_")
    @size = @lines[@i].size
    @j = -1
    
    @lines[@i].each do |line|
  
      @j += 1        
  %>
  
  <% if ( @j == 0 ) then %>
     <div id="<%= @drop_id %>_hide_<%= @abbr + '_' + @j.to_s %>">
  <% elsif (@j % 12) == 0 %>
      <li style="height: 20px" id="<%= @drop_id %>_more_<%= @abbr + '_' + @j.to_s %>">
        <% if @j != 12 then %>
        <span class="clps05col">
          <a href="javascript:void(0);" onclick="showLess(<%= "'#{@drop_id}', '#{@abbr}', #{@j}" %>);">Less...</a>
        </span>
        <% end %>
        <span class="clps05col">
          <a href="javascript:void(0);" onclick="showMore(<%= "'#{@drop_id}', '#{@abbr}', #{@size}, #{@j}" %>);">More...</a>
        </span>
      </li>
    </div> <!-- close <hide_#> -->
    <div id="<%= @drop_id %>_hide_<%= @abbr + '_' + @j.to_s %>" style="display:none;">
  <% end %>
     
  <li>
    <span class="clps05col clps">
      <%= line.start_date_time.strftime("%a, %m/%d") %>
      <br/>  
      <%= line.start_date_time.strftime("%I:%M%P") %>
    </span>
    <span class="clps05col clps">
      <a href="/team/<%= line.t1_id %>"><%= line.t1_last_name %></a>
      <br/>
      <a href="/team/<%= line.t2_id %>"><%= line.t2_last_name %></a>
    </span>
    <span class="clps05col clps">
      <%= line.t1_spread_line == nil ? "off" : line.t1_spread_line %>
      <br/>
      <%= line.t2_spread_line == nil ? "off" : line.t2_spread_line %>
    </span>
    <span class="clps05col clps">
      <%= line.t1_line_total == nil ? "off" : line.t1_line_total %>
      <br/>
      <%= line.t2_line_total == nil ? "off" : line.t2_line_total %>
    </span>
    <span class="clps05col clps">
      <%= line.t1_money_line == nil ? "off" : line.t1_money_line %>
      <br/>
      <%= line.t2_money_line == nil ? "off" : line.t2_money_line %>
    </span>
    <div class="clear"></div>
  </li>


<%
    end # close lines loop
    if ( (@j > -1) && (@j > 11) ) && (@j % 12 > 0) then
%>
    <div id="<%= @drop_id %>_more_<%= @abbr + '_' + (@size).to_s %>"> 
    <li style="height: 20px">
       <span class="clps05col">
         <a href="javascript:void(0);" onclick="finalShowLess(<%= "'#{@drop_id}', '#{@abbr}', #{@size}" %>); ">Less...</a>
       </span>
     </li>
    </div>
<% end %>
    <% if @j != -1 %>
    </div> <!-- close last <hide_#> -->
    <% end %>
<%
  end # close leagues loop
%>

 </ul>

<%= render :partial => "draggables/partials/footer" %>
