
<div class="head">
  <h1 name="section-title"><%= @drop_title %></h1>
  <h2><a href="javascript:void(0);" id="<%= @drop_id %>ToggleText" name="Expand" onclick="expandCollapseTarget('<%= @drop_id %>');">Expand</a></h2>
</div>

<div id="<%= @drop_id %>_scroll-up" class="scroll-up" onmouseout="stopScroll();">
  <a href="javascript:void(0);" name="scroll-up" class="up" onclick="jumpToTop('<%= @drop_id %>_content')" title="Click to jump to top"></a>
</div>

<!-- User info -->
<div id="profile" class="profile">
      
      
      <a href="/home" name="headshot" id="left-column-photo"><img src="/users/<%= @user.id %>/<%= @user.id %>.png" alt="headshot" class="headshot" /></a>
      <h2><a href="/home" name="edit" style="font-size: 1.2em; font-weight: bold"><%= @user.first_name + " " + @user.last_name %></a></h2>
      
      <div id="static_status_intarget">  
        <i id="status_text_intarget" style="color: #000000"><%= @status %></i><br />
        <a href="javascript:void(0);" style="text-decoration: underline" onclick="$('static_status_intarget').hide(); $('update_status_intarget').show();">Update status</a>
      </div>
      <% if (session[:visiting_id].blank?) %>
      <div id="update_status_intarget" style="display: none">
        <%= text_area_tag ("status", @status, {:size => "18x3", :maxLength => 80, :id=>"status_intarget" } ) %>
        <%= link_to_remote "Save", {:url => {:controller => "user_preferences", :action => "save_status"}, :with => "'status=' + $('status_intarget').value", :complete => "$('static_status_intarget').show(); $('update_status_intarget').hide(); $('status_text_intarget').innerHTML = $('status_intarget').value;"}, { :style => "text-decoration: underline" } %>
      </div>
      <% end %>
      
      
      <div class="clear"></div>
      <br />
      
      <div>
      <% @profile.each_pair  do |key, value| %>
      
        <a><%= key %>: <%= value %></a>
        <div class="clear"></div>
      <% end %>
      
      
        <a name="help">Hotstreak</a>:&nbsp;<a class="win"><%= @user.wins %></a>&nbsp;/&nbsp;<a class="loss"><%= (@user.wins + @user.losses) %></a>&nbsp;<a>(<%= @user.losses == 0 ? ".000" : (@user.wins.to_f/(@user.wins + @user.losses).to_f).to_s[0..4] %>)</a>
      </div>
      
      <div class="clear"></div>
      
</div>

<%= render :partial => "draggables/partials/footer" %>