
<%= render :partial => "draggables/partials/home_header" %>

  <ul id="<%= @drop_id %>_content">

<% if @leagues.size < 1 %>
  <li>
    <p>There is no current data available for the teams selected in your profile. Try adding teams that are currently in season or click the '<a href="#" onclick="new Ajax.Request('/drop', {asynchronous:true, evalScripts:true, parameters:'level=<%= @level %>&amp;full_partial=full&amp;drop_id=<%= @drop_id %>&amp;dragged_id=<%= @dragged_id %>'}); return false;">All</a>' link above.</p>
  </li>
<% end %>

<%
  @leagues.size.times do |l|
	abbr = (names.league_abbreviation(@leagues[l].affiliation_id)).gsub(/[\s']/, "_")
%>

	<li class="subhead" id="<%= abbr + "_" + @drop_id %>"><%= names.league_abbreviation(@leagues[l].affiliation_id) %> Standings</li>

<%
    @sub_affiliations[l].size.times do |d|
%>
	<li class="colHead show clps">
	  <span class="clps03col clps" style="text-align: left"><%= @isCollege ? team.conference_full_name(@sub_affiliations[l][d].affiliation_id) : names.division_full_name(@sub_affiliations[l][d].affiliation_id) %></span>
	  <span class="clps12col clps">GP</span>
	  <span class="clps08col clps">%</span>
	  <span class="clps05col clps">W - L</span>
	  <span class="clps12col clps">GB</span>
	  <span class="clps12col clps">STRK</span>
	  <div class="clear"></div>
	</li>
	<li class="colHead hidden expn" style="display:none">
	  <span class="clps05col clps" style="text-align: left"><%= @isCollege ? team.conference_full_name(@sub_affiliations[l][d].affiliation_id) : names.division_full_name(@sub_affiliations[l][d].affiliation_id) %></span>
	  <span class="clps10col clps">GP</span>
	  <span class="clps10col clps">%</span>
	  <span class="clps10col clps">W - L</span>
	  <span class="clps10col clps">GB</span>
	  <span class="clps10col clps">STRK</span>
	  <!--<span class="clps10col clps">Home</span>
	  <span class="clps10col clps">Road</span>-->
	  <div class="clear"></div>
	</li>
	
	<% if @standings[l][d].size < 1 %>
	<li>
	  <p>There are no current standings available for the teams selected in your profile. Try clicking the '<a href="#" onclick="new Ajax.Request('/drop', {asynchronous:true, evalScripts:true, parameters:'level=<%= @level %>&amp;full_partial=full&amp;drop_id=<%= @drop_id %>&amp;dragged_id=<%= @dragged_id %>'}); return false;">All</a>' link above.</p>
	</li>
	<% end %>
  
<%
     j = 0 
     @standings[l][d].each do |standing|
		
        streak_type = ""
        if standing.streak_type.to_s == 'loss' then
          streak_type = "L"
        elsif standing.streak_type.to_s == 'win'
          streak_type = "W"
        end
%>

	<li style="text-align: center" class="show clps">
	  <span class="clps03col clps" style="text-align: left"><a href="/team/<%= standing.team_id %>"><%= standing.rank.to_s %>. <%= @isCollege ? names.team_last_name(standing.team_id) : names.team_first_name(standing.team_id) %></a></span>
	  <span class="clps12col clps"><%= standing.events_played.to_s %></span>
	  <span class="clps08col clps"><%= (standing.winning_percentage.to_s)[1..-1] %></span>
	  <span class="clps05col clps"><%= standing.wins.to_s + " - " + standing.losses.to_s %></span>
	  <span class="clps12col clps"><%= standing.games_back.to_s %></span>
	  <span class="clps12col clps"><%= streak_type + standing.streak_total.to_s %></span>
	  <div class="clear"></div>
	</li>
	<li style="text-align: center; display:none" class="hidden expn">
	  <span class="clps05col clps" style="text-align: left"><a href="/team/<%= standing.team_id %>"><%= standing.rank.to_s %>. <%= @isCollege ? names.team_last_name(standing.team_id) : names.team_first_name(standing.team_id) %></a></span>
	  <span class="clps10col clps"><%= standing.events_played.to_s %></span>
	  <span class="clps10col clps"><%= (standing.winning_percentage.to_s)[1..-1] %></span>
	  <span class="clps10col clps"><%= standing.wins.to_s + " - " + standing.losses.to_s %></span>
	  <span class="clps10col clps"><%= standing.games_back.to_s %></span>
	  <span class="clps10col clps"><%= streak_type + standing.streak_total.to_s %></span>
	  <!--<span class="clps10col clps"><%# standing.home_wins.to_s + "-" + standing.home_losses.to_s %></span>
	  <span class="clps10col clps"><%# standing.away_wins.to_s + "-" + standing.away_losses.to_s %></span>-->
	  <div class="clear"></div>
	</li>
	
<%      
        j += 1
      end   # close standings loop
     
    end   # close sub_affiliations loop

    end # close leagues loop
%>

  </ul>

<%= render :partial => "draggables/partials/footer" %>

