
<%= render :partial => "draggables/partials/header" %>

  <ul id="<%= @drop_id %>_content">

<% if @leagues.size < 1 %>
  <li>
    <p>There is no current data available for the teams selected in your profile. Try adding teams that are currently in season or click the '<%= link_to_remote "All", {:url => { :controller => 'draggables', :action => 'route_action' }, :with => "'level=#{@level}&amp;full_partial=full&amp;drop_id=#{@drop_id}&amp;dragged_id=#{@dragged_id}'" } %>' link above.</p>
  </li>
<% end %>

<%
  @leagues.size.times do |l|
%>

	<li class="subhead"><%= @leagues[l].abbreviation %> Standings</li>

<%
   
    @sub_affiliations[l].size.times do |d|
    
%>
	<li class="colHead show clps">
	  <span class="clps03col clps" style="text-align: left"><%= @sub_affiliations[l][d].full_name %></span>
	  <span class="clps08col clps">GP</span>
	  <span class="clps08col clps">%</span>
	  <span class="clps08col clps">W</span>
	  <span class="clps08col clps">L</span>
	  <span class="clps08col clps">STRK</span>
	  <div class="clear"></div>
	</li>
	<li class="colHead hidden expn" style="display:none">
	  <span class="clps05col clps" style="text-align: left"><%= @sub_affiliations[l][d].full_name %></span>
	  <span class="clps10col clps">GP</span>
	  <span class="clps10col clps">%</span>
	  <span class="clps10col clps">W</span>
	  <span class="clps10col clps">L</span>
	  <span class="clps10col clps">STRK</span>
	  <span class="clps10col clps">Home</span>
	  <span class="clps10col clps">Road</span>
	  <div class="clear"></div>
	</li>
  
<%
     j = 0 
     @standings[l][d].each do |standing|
        streak_type = ""
        if standing.streak_type.to_s == 'loss' then
          streak_type = "L"
        elsif standing.streak_type.to_s == 'win'
          streak_type = "W"
        end

%>

	<li style="text-align: center" class="show clps">
	  <span class="clps03col clps" style="text-align: left"><a href="/team/<%= standing.team_id %>"><%= standing.rank.to_s %>. <%= standing.first_name %></a></span>
	  <span class="clps08col clps"><%= standing.events_played.to_s %></span>
	  <span class="clps08col clps"><%= (standing.winning_percentage.to_s)[1..-1] %></span>
	  <span class="clps08col clps"><%= standing.wins.to_s %></span>
	  <span class="clps08col clps"><%= standing.losses.to_s %></span>
	  <span class="clps08col clps"><%= streak_type + standing.streak_total.to_s %></span>
	  <div class="clear"></div>
	</li>
	<li style="text-align: center; display:none" class="hidden expn">
	  <span class="clps05col clps" style="text-align: left"><a href="/team/<%= standing.team_id %>"><%= standing.rank.to_s %>. <%= standing.first_name %></a></span>
	  <span class="clps10col clps"><%= standing.events_played.to_s %></span>
	  <span class="clps10col clps"><%= (standing.winning_percentage.to_s)[1..-1] %></span>
	  <span class="clps10col clps"><%= standing.wins.to_s %></span>
	  <span class="clps10col clps"><%= standing.losses.to_s %></span>
	  <span class="clps10col clps"><%= streak_type + standing.streak_total.to_s %></span>
	  <span class="clps10col clps"><%= standing.home_wins.to_s + "-" + standing.home_losses.to_s %></span>
	  <span class="clps10col clps"><%= standing.away_wins.to_s + "-" + standing.away_losses.to_s %></span>
	  <div class="clear"></div>
	</li>
	
<%      
        j += 1
      end   # close standings loop
     
    end   # close sub_affiliations loop

    end # close leagues loop
%>

  </ul>

<%= render :partial => "draggables/partials/footer" %>

