
<%
  @leagues.size.times do |@i|
%>
  <div class="row_title" align="center">
    <div class="<%= ROW_TITLE_GRADIENT %> row_title_gradient">
      <span><%= @leagues[@i].abbreviation %> Schedule</span>
    </div>
  </div>
  
  <div class="row" style="font-weight: bold">
      <div class="cell_120">Home</div>
      <div class="cell_80">Date</div>
      <div class="cell_100">TV</div>
      <br/>
      <div class="cell_120">vs Away</div>
      <div class="cell_80">Time</div>
  </div>

<%
    @abbr = (@leagues[@i].abbreviation).gsub(/[\s']/, "_")
    @size = @games[@i].size
    @j = -1
    @games[@i].each do |game|
      
      @j += 1
%>
  
    <%= render :partial => "draggables/partials/more_less" %>

<%    
      if ( (@j % 2) == 0) then
        html_class = "even_row"
      else
        html_class = "odd_row"
      end
%>

  <div class="<%= html_class %>">
      <div class="cell_120"><a href="/team/<%= game.t1_id %>"><%= game.t1_last_name %></a></div>
      <div class="cell_80"><%= game.start_date_time.strftime("%a, %m/%d") %></div>
      <div class="cell_100" style="font-size: .75em; overflow: visible"><%= game.broadcast_listing.to_s %></div>
      <br/>
      <div class="cell_120">vs <a href="/team/<%= game.t2_id %>"><%= game.t2_last_name %></a></div>
      <div class="cell_80"><%= game.start_date_time.strftime("%I:%M %p") %></div>
      <% if game.event_status == "pre-event" %>
      <div class="cell_60"><%= link_to_remote "Preview",
           :url => {:controller => "article", :action => "event_preview"},
           :with => "'drop_id=#{@drop_id}&amp;dragged_id=#{@dragged_id}&amp;event_id=#{game.event_id}&amp;prev_partial=#{@partial_path}'" %>
      </div>
    <% end %>
  </div>

<%
    end # close games loop
    
    if ( (@j > -1) && (@j > 11) ) && (@j % 12 > 0) then
%>
     <div id="<%= @drop_id %>_more_<%= @abbr + '_' + (@size).to_s %>" class="row">
        <div class="cell_60" style="font-size: .75em; float: left; text-align: right">
          <a href="javascript:void(0);" onclick="finalShowLess(<%= "'#{@drop_id}', '#{@abbr}', #{@size}" %>); ">Less...</a>
         </div>
      </div>
    </div> <!-- close last <hide_#> -->
<%
    end
  end #close leagues loop
%>


