

<%= render :partial => "draggables/partials/header" %>

<ul id="<%= @drop_id %>_content">
  
  <li>
    <a href="javascript:void(0);" onclick="new Ajax.Request('/drop', {asynchronous:true, evalScripts:true, parameters:'drop_id=<%= @drop_id %>&amp;dragged_id=<%= @dragged_id %>'}); return false;">Back</a>
  </li>
  <li>
    <h1><%= @title %></h1>
    <em><%= @date.blank? ? "" : @date.strftime("%m/%d %I:%M%P") %></em>
    <p><%= @content %></p>
  </li>

  <li>
    <a href="javascript:void(0);" onclick="new Ajax.Request('/drop', {asynchronous:true, evalScripts:true, parameters:'drop_id=<%= @drop_id %>&amp;dragged_id=<%= @dragged_id %>'}); return false;">Back</a>
  </li>
</ul>

<%= render :partial => "draggables/partials/footer" %>
