
<div class="head">
  <h1 name="section-title"><%= @drop_title %></h1>
  <h2><a href="javascript:void(0);" id="<%= @drop_id %>ToggleText" name="Expand" onclick="expandCollapseTarget('<%= @drop_id %>');">Expand</a></h2>
</div>

<div id="<%= @drop_id %>_scroll-up" class="scroll-up" onmouseout="stopScroll();">
  <a href="javascript:void(0);" name="scroll-up" class="up" onclick="jumpToTop('<%= @drop_id %>_content')" title="Click to jump to top"></a>
</div>


