 <%
      if ( @j == 0 ) then
%>
        <div id="<%= @drop_id %>_hide_<%= @abbr + '_' + @j.to_s %>">
<%    
      elsif (@j % 12) == 0
%>
        </div> <!-- close <hide_#> -->
        <div id="<%= @drop_id %>_more_<%= @abbr + '_' + @j.to_s %>">
          <li style="height: 20px">
            
            <% if @j != 12 then %>
            <span class="clps05col">
              <a href="javascript:void(0);" onclick="showLess(<%= "'#{@drop_id}', '#{@abbr}', #{@j}" %>);">Less...</a>
            </span>
            <% end %>

            <span class="clps05col">
              <a href="javascript:void(0);" onclick="showMore(<%= "'#{@drop_id}', '#{@abbr}', #{@size}, #{@j}" %>);">More...</a>
            </span>
            
          </li>
        </div>
        
        <div id="<%= @drop_id %>_hide_<%= @abbr + '_' + @j.to_s %>" style="display:none">
<%
      end
%>
