
<div id="header">
  <a id="plus_minus_chalkboard" href="javascript:void(0);" class="expanded" onclick="$('plus_minus_chalkboard').toggleClassName('expanded'); $('plus_minus_chalkboard').toggleClassName('collapsed'); $('chalkboard_content').toggle();"></a>
  <h1>Chalkboard</h1>
  <% if !session[:visiting_id].blank? %>
  <h2><a href="#" name="edit-chalkboard" onclick="Effect.toggle('add_comment', 'appear', {duration: .6}); $('user_comment').value = '';">Comment</a></h2>
  <% end %>
</div>

<div class="add_comment_text_box" id="add_comment" style="display:none">
  <a class="close" onclick="$('add_comment_text_box').toggle();"></a>
  <%= text_area_tag('comment', nil, {:style => 'width: 175px;height: 50px;', :value => '', :id => "user_comment"}) %>
  
 <h2><%= link_to_remote "Chalk It", 
    {:url =>  { :controller => "users", :action => "submit_comment" },
    :with => "'comment=' + encodeURIComponent($('user_comment').value)" },
    { :onclick => "Effect.toggle('add_comment', 'appear', {duration: .6}); " } %></h2>
</div>
<div class="clear"></div>
        
<div id="chalkboard_scroll-up" class="scroll-up" onmouseout="stopScroll();" onclick="jumpToTop('chalkboard_content')" title="Click to jump to top"><a name="chalkboard-scroll-up"></a></div>

<ul id="chalkboard_content">
  <%
   parser = XML::Parser.file(RAILS_ROOT + "/public/users/#{@user.id}/#{@user.id}.chalkboard")
   @chalkboard = parser.parse
   comments = @chalkboard.find('//root/comment')
   (comments.length - 1).downto(0) do |i|
     comment = comments[i]
     img_path = "/users/#{comment.find('from').first['id']}/#{comment.find('from').first['id']}_thumbnail.png"
     text = CGI.unescape(comment.find('text').first.content)
     
     origin_name = CGI.escape(comment.find('from').first.content)
     origin_id = comment.find('from').first['id']
 %>
           
    <li id="comment_<%= comment['id'] %>" class="<%= (i % 2) == 0 ? "even" : "odd" %>">
     
      <form id="form_<%= comment['id'] %>" action="/fanatic/<%= origin_name %>" method="post">
        <input type="hidden" name="friend_id" value="<%= origin_id %>"/>
        <a href="javascript:void(0);" onclick="$('form_<%= comment['id'] %>').submit();">
          <img src="<%= img_path %>" class="headshot" />
        </a>
     
        <p><%= text.gsub(/\n/, '<br/>') %></p>
        <em>Posted by <a href="javascript:void(0);" onclick="$('form_<%= comment['id'] %>').submit();"><%= CGI.unescape(origin_name) %></a> on<br /><%= CGI.unescape(comment.find('date').first.content) + " @ " + CGI.unescape(comment.find('time').first.content) %>.</em>
        <% if (session[:visiting_id].blank?) %>
        <br /><em><a href="javascript:void(0);" onclick="$('comment_<%= comment['id'] %>_reply').toggle();">Reply</a> | <%= link_to_remote "Delete", {:url =>  { :controller => "users", :action => "delete_comment" }, :with => "'comment=#{comment['id']}'" } %></em>
        
        <%# link_to_remote "Reply", {:url =>  { :controller => "users", :action => "friend_home" }, :with => "'origin=#{origin_id}'" } %>
        
        
        
        <% end %>
      </form>
      
      <div class="clear"></div>
    </li>
   
    <li id="comment_<%= comment['id'] %>_reply" style="display: none" class="reply <%= (i % 2) == 0 ? "even" : "odd" %>">
      <h2>Enter your reply:</h2><a class="close" onclick="$('comment_<%= comment['id'] %>_reply').toggle();"></a><br />
      <%= text_area_tag('comment', nil, {:style => 'width: 98%;height: 50px;', :value => '', :id => "reply_comment"}) %><br />
      <h2 style="float:right"><%= link_to_remote( "Chalk It",  {:url =>  { :controller => "users", :action => "reply_to_comment" }, :with => "'origin_id=#{origin_id}&amp;comment=' + encodeURIComponent($('reply_comment').value)" }, { :onclick => "Effect.toggle(\"comment_#{comment['id']}_reply\", \"appear\", {duration: .6}); " } ) %></h2>
      <div class="clear"></div>
    </li>
   
 <% end %>
</ul>

<div id="chalkboard_scroll-down" class="scroll-down" onmouseout="stopScroll();" onclick="jumpToBottom('chalkboard_content')" title="Click to jump to bottom"><a name="chalkboard-scroll-down"></a></div>

<%=
javascript_tag "
    Event.observe($('chalkboard_scroll-up'), 'mouseover', scrollDropArea.bindAsEventListener($('chalkboard_content'), 'chalkboard_content', -5));
    Event.observe($('chalkboard_scroll-down'), 'mouseover', scrollDropArea.bindAsEventListener($('chalkboard_content'), 'chalkboard_content', 5));"  
  %>

