
<% if (@results == "NONE") then %>
  <li class="even">
    <p style="width: 90%">No results found for query "<%= params['name'] %>"</p>
    <div class="clear"></div>
  </li>
<% elsif (@results != nil) then %>
  <li class="odd">
    <p style="width: 90%">Results for search: "<%= params['name'] %>"</p>
    <div class="clear"></div>
  </li>

<%
  xml_path = RAILS_ROOT + "/public/users/#{@user.id}/#{@user.id}.profile"
  parser = XML::Parser.file(xml_path)
  profile = parser.parse
  friends_node = (profile.find('//root/friends')).first
  friends = friends_node.children

  i = -1
  @results.each do |result|
    i += 1
    img_path = "/users/#{result.id}/#{result.id}_thumbnail.png"
    
    result_profile_path = RAILS_ROOT + "/public/users/#{result.id}/#{result.id}.profile"
    parser = XML::Parser.file(result_profile_path)
    profile = parser.parse
    
    hometown = profile.find_first('//root/hometown')
    name = result.first_name + " " + result.last_name
%>
  <li class="<%= (i % 2) == 0 ? "even" : "odd" %>">
    <form id="form_<%= result.id %>" action="/fanatic/<%= CGI.escape(name) %>">
      <input type="hidden" name="friend_id" value="<%= result.id %>"/>
        <a href="javascript:void(0);" name="fan-name" onclick="$('form_<%= result.id %>').submit();" title="View <%= name %>'s profile"><img src="<%= img_path %>" class="headshot" /></a>
        <p>
          <a href="javascript:void(0);" name="fan-name" onclick="$('form_<%= result.id %>').submit();" title="View <%= name %>'s profile"><%= name %></a>
          <%= CGI.unescape(hometown.content) if hometown['show'].eql?("yes") %>
          <%= link_to_remote ( "Add",
                        {:url => { :controller => "users", :action => "add_friend" },
                        :with => "'friend_id=#{result.id}'" },
                        {:title => "Add #{name} to my Fanclub"} )
          %>
        </p>
    </form>
    <div class="clear"></div>
  </li>
  
     
<% end
  # close results loop
%>

<% end
  #close if @results != nil
%>