
  <div id="header">
    <a id="plus_minus_fanclub" href="javascript:void(0);" class="expanded" onclick="$('plus_minus_fanclub').toggleClassName('expanded'); $('plus_minus_fanclub').toggleClassName('collapsed'); $('fanclub_content').toggle();"></a>
    <h1>Fanclub</h1>
  </div>
  
  <div class="search">
    <input name="fan-search" class="field" />
    <input name="fan-search-submit" class="submit"/>
    <div class="clear"></div>
  </div>
  
  <div id="fanclub_scroll-up" class="scroll-up" onmouseout="stopScroll();"><a href="*" name="fanclub-scroll-up"></a></div>
  <ul id="fanclub_content">
<%
  xml_path = RAILS_ROOT + "/public/users/" + (@user.id).to_s + "/" + (@user.id).to_s + ".profile"
  parser = XML::Parser.file(xml_path)
  profile = parser.parse
  friends_node = (profile.find('//root/friends')).first
  friends = friends_node.children

  i = 0
  friends.each do |friend|
    friend_id = friend['id']
    img_path = "/users/#{friend_id}/#{friend_id}_thumbnail.png"
    friend_profile_path = RAILS_ROOT + "/public/users/#{friend_id}/#{friend_id}.profile"
    parser = XML::Parser.file(friend_profile_path)
    profile = parser.parse
    status = profile.find_first('//root/status')
    if !(status.blank?)
      status = status.content
    else
      status = ""
    end
    cgi_name = CGI.escape(friend.content)
%>
  <form id="form_<%= friend_id %>" action="/fanatic/<%= cgi_name %>">
    <input type="hidden" name="friend_id" value="<%= friend_id %>"/>
    <a href="javascript:void(0);" name="fan-name" onclick="$('form_<%= friend_id %>').submit();">
      <li class="<%= (i % 2) == 0 ? "even" : "odd" %>">
        <img src="<%= img_path %>" class="headshot" />
        <p><%= friend.content %><br/><%= status %></p>
        <div class="clear"></div>
      </li>
    </a>
  </form>
  
     
<% end %>
  </ul>
  <div id="fanclub_scroll-down" class="scroll-down" onmouseout="stopScroll();"><a href="*" name="fanclub-scroll-down"></a></div>

<%=
  javascript_tag "
      Event.observe($('fanclub_scroll-up'), 'mouseover', scrollDropArea.bindAsEventListener($('fanclub_content'), 'fanclub_content', -5));
      Event.observe($('fanclub_scroll-down'), 'mouseover', scrollDropArea.bindAsEventListener($('fanclub_content'), 'fanclub_content', 5));"
  
%>
