<div class="sportbookpage">SportbookPage.com<br/><span class="quote">Customize your sports.</span></div>

<div class="box_frame">

<div class="welcome_area">
<p>SportbookPage.com is <span class="emphasize">revolutionizing the way you see sports.</span> We're the only place on the net where you can fully customize your sports experience.</p><p>You <span class="emphasize">tag the sport and teams you care about</span> and you get scores, schedules, headlines and more for just those teams. It's that simple.</p><p>Don't waste anymore time following links and digging for the information you want. Get it all with one drag of the mouse. Register in less than <span class="emphasize">2 minutes with 3 easy steps</span> and you're on your way to customizing your sports.</p>
<p style="margin: auto; width: 5.5em; text-align: center; font-size: 1.5em; background: #cbb600"><a href="/register">Sign Up!</a></p>
</div>


<div class="login_area">

  <div class="label">Sign in</div>

  <div id ="login_failed" class="login_failed">    
    <% if flash[:notice] -%>
      <%= javascript_tag( "new Effect.Highlight('login_failed', {startcolor: '#fe0000', endcolor: '#000000', restorecolor: '#000000', duration: 1.0} );" ) %>
      <%= flash[:notice] %>
    <% end -%>
  </div>

  <% form_tag do %>
    
	<table style="position: relative; top: 70px" cellspacing="8" >
	  <tr>
		<td>E-mail:</td>
		<td><%= text_field_tag :email, nil, :class => "inputbox", :size => '20' %></td>
	  </tr>
		
	  <tr>
		<td>Password:</td>
		<td><%= password_field_tag :password, nil, :class => "inputbox", :size => '20' %></td>
	  </tr>
	
	  <tr>
		<td>&nbsp;</td>
		<td><a href="/password">Forgot your password?</a></td>
	  </tr>
	  
	  <tr><td>&nbsp;</td></tr>
	  <tr style="text-align: right"><td>&nbsp;</td><td><%= submit_tag "Login" %></td></tr>
	</table>
	
	
  <% end %>

</div>

</div>
