
  
<div id="column-right">
  <div id="login">
	<h1>Sign In <i><a href="/password">Trouble signing in?</a></i></h1>
	<form action="/login" method="post">
	  <div class="signin">
		<p>Email</p>
		<input name="email" tabindex="1" type="text" />
		<div class="clear"></div>
	  </div>
	  <div class="signin">
		<p>Password</p>
		<input name="password" tabindex="2" type="password" />
  		<div class="clear"></div>
		<input name="login" value="Login" tabindex="3" type="submit" class="submit" />
		<div class="clear"></div>
	  </div>
	</form>

	<div class="clear"></div>
  </div> <!-- close login div -->
  
  <h1>Sign Up</h1>
  <form action="/user_preferences/signup" enctype="multipart/form-data" id="register_form" method="post">
    <ul>
	  <li>
		<label>First Name:</label>
		<input name="first_name" tabindex="4" type="text" value="<%= @user.first_name %>" />
		<div class="clear"></div>
	  </li>
	  <% if !@user.errors[:first_name].blank? %>
	  <li style="text-align: right">
		<div class="warning"><%= @user.errors[:first_name] %></div>
		<div class="clear"></div>
	  </li>
	  <% end %>
	  <li>
		<label>Last Name:</label>
		<input name="last_name" tabindex="5" type="text" value="<%= @user.last_name %>" />
		<div class="clear"></div>
	  </li>
	  <% if !@user.errors[:last_name].blank? %>
	  <li style="text-align: right">
		<div class="warning"><%= @user.errors[:last_name] %></div>
		<div class="clear"></div>
	  </li>
	  <% end %>
	  <li>
		<label>E-mail:</label>
		<input name="email" tabindex="6" type="text" value="<%= @user.email %>" />
		<div class="clear"></div>
	  </li>
	  <% if !@user.errors[:email].blank? %>
	  <li style="text-align: right">
		<div class="warning"><%= @user.errors[:email] %></div>
		<div class="clear"></div>
	  </li>
	  <% end %>
	  <li>
		<label>Password:</label>
		<input name="password" tabindex="7" type="password" value="" />
		<div class="clear"></div>
	  </li>
	  <% if !@user.errors[:password].blank? %>
	  <li style="text-align: right">
		<div class="warning"><%= @user.errors[:password] %></div>
		<div class="clear"></div>
	  </li>
	  <% end %>
	  <li>
		<label>Repeat Password:</label>
		<input name="password_confirmation" tabindex="8" type="password" value="" />
		<div class="clear"></div>
	  </li>
	  <% if !@user.errors[:password_confirmation].blank? %>
	  <li style="text-align: right">
		<div class="warning"><%= @user.errors[:password_confirmation] %></div>
		<div class="clear"></div>
	  </li>
	  <% end %>
	  <li id="question">
		<label>Question:</label>
		<select name="question_1" tabindex="9" class="select" style="font-size:.85em"><option>Where did you meet your significant other?</option><option>What was your childhood nickname?</option><option>What is the name of your best childhood friend?</option><option>What street did you live on in third grade?</option><option>What is your oldest sibling&rsquo;s birthday month and year?</option><option>What is the middle name of your youngest child?</option><option>What is your oldest sibling's middle name?</option><option>What school did you attend for sixth grade?</option><option>What was your childhood phone number including area code?</option><option>What was the name of your first stuffed animal?</option><option>In what city or town did your mother and father meet?</option><option>What was the last name of your third grade teacher?</option><option>What is the first name of the boy or girl that you first kissed?</option><option>What is your maternal grandmother's maiden name?</option><option>In what town was your first job?</option><option onmousedown="$('question').replace('<li><label>Question:</label><input name=&quot;question_1&quot; tabindex=&quot;9&quot; type=&quot;text&quot; value=&quot;Enter custom question...&quot; onfocus=&quot;$(\'question_1\').clear();&quot; id=&quot;question_1&quot; /><div class=&quot;clear&quot;></div></li>');">Custom question...</option></select>
		<div class="clear"></div>
	  </li>
	  <% if !@user.errors[:question_1].blank? %>
	  <li style="text-align: right">
		<div class="warning"><%= @user.errors[:question_1] %></div>
		<div class="clear"></div>
	  </li>
	  <% end %>
	  <li>
		<label>Answer:</label>
		<input name="answer_1" tabindex="10" type="text" value="<%= @user.answer_1 %>" />
		<div class="clear"></div>
	  </li>
	  <% if !@user.errors[:answer_1].blank? %>
	  <li style="text-align: right">
		<div class="warning"><%= @user.errors[:answer_1] %></div>
		<div class="clear"></div>
	  </li>
	  <% end %>
	  <li>
		<label>Birthday:</label>
		<%= select_year((@user.birthday.blank? ? Date.new(Time.now.year-5) : Date.parse(@user.birthday)), {:start_year => Time.now.year - 5, :end_year => Time.now.year - 95}, {:tabindex => "13", :class => "year"}) %>
		<select class="date" id="date_day" name="date[day]" tabindex="12"><option selected="selected" value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select>
		<select class="date" id="date_month" name="date[month]" tabindex="11"><option selected="selected" value="1">January</option><option value="2">February</option><option value="3">March</option><option value="4">April</option><option value="5">May</option><option value="6">June</option><option value="7">July</option><option value="8">August</option><option value="9">September</option><option value="10">October</option><option value="11">November</option><option value="12">December</option></select>
		<div class="clear"></div>
	  </li>
	  <% if !@user.errors[:birthday].blank? %>
	  <li style="text-align: right">
		<div class="warning"><%= @user.errors[:birthday] %></div>
		<div class="clear"></div>
	  </li>
	  <% end %>
	  <li>
		<label>Hometown (City, State):</label>
		<%= select("state", "state", [['AL', 'AL'], ['AK', 'AK'],['AZ', 'AZ'],['AR', 'AR'], ['CA', 'CA'], ['CO', 'CO'], ['CT', 'CT'], ['DE', 'DE'], ['DC', 'DC'], ['FL', 'FL'],['GA', 'GA'],['HI', 'HI'], ['ID', 'ID'], ['IL', 'IL'], ['IN', 'IN'], ['IA', 'IA'], ['KS', 'KS'], ['KY', 'KY'], ['LA', 'LA'], ['ME', 'ME'], ['MD', 'MD'], ['MA', 'MA'], ['MI', 'MI'], ['MN', 'MN'],['MS', 'MS'], ['MO', 'MO'], ['MT', 'MT'], ['NE', 'NE'], ['NV', 'NV'], ['NH', 'NH'], ['NJ', 'NJ'], ['NM', 'NM'], ['NY', 'NY'], ['NC', 'NC'], ['ND', 'ND'], ['OH', 'OH'], ['OK', 'OK'], ['OR', 'OR'], ['PA', 'PA'], ['RI', 'RI'], ['SC', 'SC'], ['SD', 'SD'], ['TN', 'TN'], ['TX', 'TX'], ['UT', 'UT'], ['VT', 'VT'], ['VA', 'VA'], ['WA', 'WA'], ['WV', 'WV'], ['WI', 'WI'], ['WY', 'WY']], {:selected => @user.state}, {:tabindex => "15", :class => "select"}) %>
		<input name="hometown" tabindex="14" style="width: 240px" value="<%= @user.hometown %>" />
		<div class="clear"></div>
	  </li>
	  <% if !@user.errors[:hometown].blank? || !@user.errors[:state].blank? %>
	  <li style="text-align: right">
		<div class="warning"><%= @user.errors[:hometown].to_s + " " + @user.errors[:state].to_s %></div>
		<div class="clear"></div>
	  </li>
	  <% end %>
	  <li>
		<label>Gender:</label>
		<input class="radio" type="radio" name="sex" value="m" tabindex="16" />
		<span style="float: right">Male</span><br />
		<input class="radio" type="radio" name="sex" value="f" tabindex="17" />
		<span style="float: right">Female</span>
		<div class="clear"></div>
	  </li>
	  <% if !@user.errors[:sex].blank? %>
	  <li style="text-align: right">
		<div class="warning"><%= @user.errors[:sex] %></div>
		<div class="clear"></div>
	  </li>
	  <% end %>
	  <li><label class="warning"><%# flash[:notice] if !flash[:notice].blank? %></label>
		<input name="submit" value="Submit" tabindex="15" type="submit" class="submit" /><div class="clear"></div>
	  </li>
	</ul>
  </form>
  <div class="clear"></div>
</div><!-- close right column -->

