
  <% if flash[:notice]  %>
  <div id ="flash_notice" class="flash_notice" style="text-align: center">    
      <!-- javascript_tag( "new Effect.Highlight('flash_notice', {startcolor: '#fe0000', endcolor: '#000000', restorecolor: '#000000', duration: 1.0} );" ) -->
      <%= flash[:notice] %>
  </div>
  <% end -%>


<% form_tag('', :multipart => true, :id => 'register_form') do %>


  <div class='title'><div class="title_font">Account Details</div> <span style='font-size: 10px'>*denotes required fields</span></div>

<div class="form">

    <table cellspacing='8' style='left: 140px'>
      <tr>
        <td>*First Name:</td><td><%= text_field_tag( 'first_name', @user.first_name, :size => 15, :maxlength => 50 ) %></td>
        <td>Middle Name:</td><td><%= text_field_tag( 'middle_name', @user.middle_name, :size => 15, :maxlength => 25 ) %></td>
      </tr>
      <% if @user.errors[:first_name] then %>
      <tr>
        <td></td><td><span class="error_text"><%= @user.errors[:first_name] %></span></td>
      </tr>
      <% end %>
        
      <tr>
        <td>*Last Name:</td><td><%= text_field_tag( 'last_name', @user.last_name, :size => 15, :maxlength => 50 ) %></td>
      </tr>
       <% if @user.errors[:last_name] then %>
      <tr>
        <td></td><td><span class="error_text"><%= @user.errors[:last_name] %></span></td>
      </tr>
      <% end %>
      
      <tr>
        <td>*E-mail Address:</td><td colspan='3'><%= text_field_tag( 'email', @user.email, :size => 30, :maxlength => 255 ) %></td>
      </tr>
      <% if @user.errors[:email] then %>
      <tr>
        <td></td><td><span class="error_text"><%= @user.errors[:email] %></span></td>
      </tr>
      <% end %>
      
      <% if (!@show_password) then %>
      <tr>
        <td/>
        <td><a href="javascript:void(0);" onclick="$('old_password').show(); $('new_password').show(); $('confirm_password').show();">Change Password</a></td>
      </tr>
      <% end %>
      
      <tr id="old_password" class="old_password" style="display: none">
        <td>*Old Password:</td><td><%= password_field_tag( 'old_password', nil, :size => 20, :maxlength => 20 ) %></td>
      </tr>
      <% logger.info "@user.errors[:old_password] = " + @user.errors[:old_password].to_s %>
      <% if @user.errors[:old_password] then %>
      <tr>
        <td></td><td><span class="error_text"><%= @user.errors[:old_password] %></span></td>
      </tr>
      <% end %>
      
      <tr id="new_password" class="new_password" style="display: none">
        <td>*New Password:</td><td><%= password_field_tag( 'password', nil, :size => 20, :maxlength => 20 ) %></td><td colspan='2'><span style='font-size: 10px'>(must be at least 6 characters in length)</span></td>
      </tr>
      <% if @user.errors[:password] then %>
      <tr>
        <td></td><td><span class="error_text"><%= @user.errors[:password] %></span></td>
      </tr>
      <% end %>
      
      <tr id="confirm_password" class="confirm_password" style="display: none">
        <td>*Confirm New Password:</td><td><%= password_field_tag( 'password_confirmation', nil, :size => 20, :maxlength => 20 ) %></td>
      </tr>
      <% if @user.errors[:password_confirmation] then %>
      <tr>
        <td></td><td><span class="error_text"><%= @user.errors[:password_confirmation] %></span></td>
      </tr>
      <% end %>
      
      <tr>
        <td>*Security Question 1:</td><td colspan='3'><%= text_field_tag( 'question_1', @user.question_1, :size => 60, :maxlength => 255 ) %></td>
      </tr>
      <% if @user.errors[:question_1] then %>
      <tr>
        <td></td><td><span class="error_text"><%= @user.errors[:question_1] %></span></td>
      </tr>
      <% end %>
      
      <tr>
        <td>*Answer:</td><td><%= text_field_tag( 'answer_1', @user.answer_1, :size=> 15, :maxlength => 127 ) %></td>
      </tr>
      <% if @user.errors[:answer_1] then %>
      <tr>
        <td></td><td><span class="error_text"><%= @user.errors[:answer_1] %></span></td>
      </tr>
      <% end %>
      
      <tr>
        <td>*Security Question 2:</td><td colspan='3'><%= text_field_tag( 'question_2', @user.question_2, :size => 60, :maxlength => 255 ) %></td>
      </tr>
      <% if @user.errors[:question_2] then %>
      <tr>
        <td></td><td><span class="error_text"><%= @user.errors[:question_2] %></span></td>
      </tr>
      <% end %>
      
      <tr>
        <td>*Answer:</td><td><%= text_field_tag( 'answer_2', @user.answer_2, :size=> 15, :maxlength => 127 ) %></td>
      </tr>
      <% if @user.errors[:answer_2] then %>
      <tr>
        <td></td><td><span class="error_text"><%= @user.errors[:answer_2] %></span></td>
      </tr>
      <% end %>
      
      <tr>
        <td colspan='5' align='right'><%= submit_tag( "Save" , :class => "submit" ) %></td>
      </tr>
    </table>

</div>

<% end %>

<% if (@show_password) then %>
  <%= javascript_tag "$('old_password').show(); $('new_password').show(); $('confirm_password').show();" %>
<% end %>
      
<%= javascript_tag "$('user_path').update(\"" + @path_html + "\")" %>
<%= javascript_tag "createGradient(document.body);" %>      
