  <% if flash[:notice] -%>
  <div id ="flash_notice" class="flash_notice">    
      <!-- javascript_tag( "new Effect.Highlight('flash_notice', {startcolor: '#fe0000', endcolor: '#000000', restorecolor: '#000000', duration: 1.0} );" ) -->
      <%= flash[:notice] %>
  </div>
  <% end -%>


<% form_tag('', :multipart => true, :id => 'register_form') do %>


<div class="title"><div class="title_font">Sports and Teams</div></div>


<div class="tab_row">
  <a href="javascript:void(0);" onclick="$('pro').show(); $('ncaa_d1').hide(); $('pro_tab').setStyle({background: '#5380ff', border: '2px #315ad0 solid'}); $('ncaa_d1_tab').setStyle({background: '#d9d9db', border: '2px #d9d9db solid' });"><div id="pro_tab" class="tab selected">Pro</div></a>
  <a href="javascript:void(0);" onclick="$('ncaa_d1').show(); $('pro').hide(); $('ncaa_d1_tab').setStyle({background: '#5380ff', border: '2px #315ad0 solid'}); $('pro_tab').setStyle({background: '#d9d9db', border: '2px #d9d9db solid' });"><div id="ncaa_d1_tab" class="tab">College</div></a>
</div>


<div id="pro" class='form'>
  <table>
<%  
  @pro_leagues.size.times do |l| 
    abbr = @pro_leagues[l].abbreviation.gsub(/[\s']/, "_")
    num_teams = @pro_teams[l].length
%>
    
    <tr><td>
  
    <%= check_box_tag( 'sports[]', abbr + "," + (@pro_leagues[l].affiliation_id).to_s, false, :id => abbr + "_checkbox", :onclick => "toggle_sport_checkbox('sport_list_" + abbr + "'); return true; ") %>
    <span class="sport_label"><%= @pro_leagues[l].full_name %></span>
    <div class="sport_list" id="sport_list_<%= abbr %>" style="display: none">

    <table>
  <%
    num_teams.times do |i|
      if (i == 0) then
  %>
        <tr>
  <% elsif (i % 3) == 0 %>
        </tr><tr>
<%
     end      
      
      if (num_teams%3 == 0) then
          index = (i)/3 + ((i%3) * num_teams)/3
        elsif (i%3 < num_teams%3) then
          index = i/3 + ((Float(num_teams)/Float(3)).round) * (i%3)
        else
          index = ((i%3) * num_teams)/3 + i/3 + 1
        end

      class_name = (@pro_teams[l][index].full_name).gsub(/[\s\.']/, '_')
      
      db_team = Team.find(@pro_teams[l][index].team_id)
%>
      <td>
        <%= check_box_tag( abbr + '[]', @pro_teams[l][index].last_name + "," + (@pro_teams[l][index].team_id).to_s, false, :class => class_name ) + @pro_teams[l][index].full_name %><br/>
        <span style="color: lightGray"><%= db_team.followers %> followers</span>
      </td>
<%
    end # close teams loop
%>
    </tr>
    <tr>
      <td>
        <%= check_box_tag( "check_all_sport_list_" + abbr,  "check_all", false, :onclick => "toggle_all_checkboxes('sport_list_" + abbr + "'); return true;" ) %>
        <span id="check_all_sport_list_<%= abbr %>_label">Check All</span><span id="uncheck_all_sport_list_<%= abbr %>_label" style="display: none">Uncheck All</span>
      </td>
    </tr>
  </table>
  </div>
  </div>
  </td>
  </tr>
<%
  end 
%>
   <tr>&nbsp;</tr>
   <tr><td align="left"><%= submit_tag( "Save" , :class => "submit" ) %></td></tr></table>
    
</div>



<!--------------------------------  COLLEGE SPORTS ---------------------------->



<div id="ncaa_d1" class='form' style="display: none">
  
  <table>
    
<%
  @college_leagues.size.times do |l|
    abbr = @college_leagues[l].abbreviation.gsub(/[\s']/, "_")
    num_conferences = @college_conferences[l].length
%>
    <tr>
      <td>
      
        <%= check_box_tag( 'college[]', @college_leagues[l].abbreviation + "," + (@college_leagues[l].affiliation_id).to_s, false, :id => abbr + "_checkbox", :onclick => "toggle_sport_checkbox('sport_list_" + abbr + "'); return true;" ) %>
    
        <span class='sport_label'><%= @college_leagues[l].full_name %></span>
        <div class="sport_list" id="sport_list_<%= abbr %>" style="display: none">
          <table class="list_table">

            <%    
              num_conferences.times do |c|
                
                
                
                if (c == 0) then
            %>      
            <tr>
              <%  elsif (c % 3) == 0 %>
            </tr>
            <tr>
              <% 
                  end 

                  if (num_conferences%3 == 0) then
                    index = (c)/3 + ((c%3) * num_conferences)/3
                  elsif (c%3 < num_conferences%3) then
                    index = c/3 + ((Float(num_conferences)/Float(3)).round) * (c%3)
                  else
                    index = ((c%3) * num_conferences)/3 + c/3 + 1
                  end

                  c_abbr = @college_conferences[l][index].full_name.gsub(/[\s']/, "_") + @college_leagues[l].affiliation_id.to_s

                  num_teams = @college_teams[l][index].length  
              %>
              <td style="vertical-align: top"><%= check_box_tag('', @college_conferences[l][index].full_name.to_s + "," + (@college_conferences[l][index].affiliation_id).to_s, false, :class => "conference", :onclick => "toggle_sport_checkbox('sport_list_" + c_abbr + "'); return true;" ) + @college_conferences[l][index].full_name.to_s %>

                <div class="sport_list" id="sport_list_<%= c_abbr %>" style="display: none">
                <table id="tbl" class="list_table">

                  <%    
                    num_teams.times do |i|
                      class_name = (@college_teams[l][index][i].full_name).gsub(/[\s\.']/, '_')
                      db_team = Team.find(@college_teams[l][index][i].team_id)
                  %>      
                  <tr id="tr">

                    <td id="td">
                        <%= check_box_tag( abbr + '[]', @college_teams[l][index][i].full_name.to_s + "," + (@college_teams[l][index][i].team_id).to_s, false, :class => class_name + " " + c_abbr ) + @college_teams[l][index][i].full_name.to_s %><br/>
                        <span style="color: lightGray"><%= db_team.followers %> followers</span>
                    </td>
                  </tr>
                  <%
                    end # close teams loop
                  %>

                  <tr>
                    <td>
                      <%= check_box_tag( "check_all_sport_list_" + c_abbr,  "check_all", false, :onclick => "toggle_all_checkboxes('sport_list_" + c_abbr + "'); return true;", :class => c_abbr ) %>
                      <span id="check_all_sport_list_<%= c_abbr %>_label">Check All</span><span id="uncheck_all_sport_list_<%= c_abbr %>_label" style="display: none">Uncheck All</span>
                    </td>
                  </tr>
                </table>
              </div>
            </td>


              <%
                end # close conferences loop
              %>
            </tr>
          </table>
        </div>
      </td>
    </tr>

<%
  end # close college_leagues loop 
%>  
    <tr>&nbsp;</tr>
    <tr>
      <td align="left"><%= submit_tag( "Save" , :class => "submit" ) %></td>
    </tr>
    
  </table>
  
    
</div>





<% end %>

<%= javascript_tag "uncheck_all('register_form');" %>

<%
  
  path = RAILS_ROOT + "/public/users/" + (@user.id).to_s + "/" + (@user.id).to_s + ".profile"
  parser = XML::Parser.file(path)
  profile = parser.parse
  
  pro_sports = profile.find('//root/sports/sport')
  pro_sports = pro_sports.to_a
  college_sports = profile.find('//root/sports/collegeSports/sport')
  college_sports = college_sports.to_a
  
  my_sports = pro_sports.concat(college_sports)
  
  my_teams = nil
    
  if !(my_sports.blank?)
    
    my_sports.each do |my_sport|  
%>
<%= javascript_tag "$('" + my_sport['sport'] + "_checkbox').checked = true; $('sport_list_" + my_sport['sport'] + "').show();" %>
<%  
    my_teams = my_sport.children
    
    if !(my_teams.blank?) 
      my_teams.each do |my_team|
        team = Team.get_team(my_team['id'])
        class_name = (team.full_name).gsub(/[\s\.']/, '_')
%>
  <%= javascript_tag "
          $$('input." + class_name + "')[0].checked = true; 
           
          if ($$('input." + class_name + "')[0].up(0).up(0).up(0).up(0).up(0).previous('input.conference') != undefined) {
              $$('input." + class_name + "')[0].up(0).up(0).up(0).up(0).up(0).previous('input.conference').checked = true;
              $$('input." + class_name + "')[0].up(0).up(0).up(0).up(0).up(0).show();
          }" %>
<%
        end
      end
    end
  end
  # if the team is already in the user's profile, check the box
  checked = false
  
%>
  
<%= javascript_tag "$('user_path').update(\"" + @path_html + "\")" %>
<%= javascript_tag "createGradient(document.body);" %>
