 
    <% if flash[:notice] -%>
    <span style="width: 100%; text-align: center">
        <% @saved ? color = "#4696bb" : color = "red" %>
        <%# javascript_tag( "new Effect.Highlight('flash_notice', {startcolor: '#{color}', endcolor: '#e5e6e8', restorecolor: '#e5e6e8', duration: 1.0} );" ) %>
        <em style="color: <%= color %>; font-weight: bold; width:100%"><%= flash[:notice] %></em>
    </span>
    <hr/>
    <% end -%>
    
  <!-- container for pop-up box to invite friends -->
  <div id="pop-up" style="position:fixed; display: none"></div>
    
  <form action="/preferences" enctype="multipart/form-data" id="register_form" method="post" name="teams">
    <a href="/home" class="back">Home</a>
    <input name="save" type="submit" class="submit" value="Save" />
    
    <hr />
    
    <!-- user info -->
    <span>
        <a href="#" name="edit-photo" id="photo_area" onclick="$('file_field').show(); return false;"><img src="/users/<%= @user.id %>/<%= @user.id %>.png" alt="headshot" name="headshot-none" class="headshot" /></a>
        <h1>Photo <i><br /><a href="javascript:void();" onclick="$('file_field').show(); return false;">Change</a> / <%= link_to_remote "Remove", :url => {:controller => "user_preferences", :action => "delete_photo"} %></i></h1>
        <input id="file_field" name="photo" size="20" style="display: none" type="file" />
    </span>
    
    <span>
        <h1><%= @user.first_name + " " + @user.last_name %> <br />
          <i><a href="javascript:void(0);" style="display:inline" name="edit" onclick="$('static-profile').toggle(); $('edit-profile').toggle(); $('keep').toggle();">Edit</a><a id="keep" style="float: right; display: inline" onclick="$('show_birthday').checked = true; $('show_hometown').checked = true; $('show_sex').checked = true;">Keep private</a></i>
        </h1>
        <ul id="static-profile" name="user-info" <%= if !@saved then "style=\"display: none\"" end %> >
            <li>DOB: <%= @user.birthday %> <input id="show_birthday" name="show[birthday]" style="float: right" type="checkbox" /></li>
            <li><%= @user.hometown + ", " + @user.state %> <input id="show_hometown" name="show[hometown]" style="float: right" type="checkbox" /></li>
            <li><%= @user.sex == "m" ? "Male" : "Female" %> <input id="show_sex" name="show[sex]" style="float: right" type="checkbox" /></li>
            <div class="clear"></div>
        </ul>
        <ul id="edit-profile" name="user-info" <%= if @saved then "style=\"display: none\"" end %> >
            <input type="hidden" value="<%= @user.middle_name %>" name="middle_name"/>
            <li>
              First name: <input type="text" size="15" value="<%= @user.first_name %>" name="first_name"/>
            </li>
            <li>
              Last name: <input type="text" size="15" value="<%= @user.last_name %>" name="last_name"/>
            </li>
            <li>
                DOB: <%= select_date( Date.parse(@user.birthday), { :order => [:month, :day, :year], :start_year => Time.now.year - 5, :end_year => Time.now.year - 95 } ) %>
                <br /><em style="color: red"><%= @user.errors[:birthday] %></em>
            </li>
            <li>
                Hometown: <input id="hometown" maxlength="50" name="hometown" size="11" type="text" value="<%= @user.hometown %>" /><%= select("state", "state", [['AL', 'AL'], ['AK', 'AK'],['AZ', 'AZ'],['AR', 'AR'], ['CA', 'CA'], ['CO', 'CO'], ['CT', 'CT'], ['DE', 'DE'], ['DC', 'DC'], ['FL', 'FL'],['GA', 'GA'],['HI', 'HI'], ['ID', 'ID'], ['IL', 'IL'], ['IN', 'IN'], ['IA', 'IA'], ['KS', 'KS'], ['KY', 'KY'], ['LA', 'LA'], ['ME', 'ME'], ['MD', 'MD'], ['MA', 'MA'], ['MI', 'MI'], ['MN', 'MN'],['MS', 'MS'], ['MO', 'MO'], ['MT', 'MT'], ['NE', 'NE'], ['NV', 'NV'], ['NH', 'NH'], ['NJ', 'NJ'], ['NM', 'NM'], ['NY', 'NY'], ['NC', 'NC'], ['ND', 'ND'], ['OH', 'OH'], ['OK', 'OK'], ['OR', 'OR'], ['PA', 'PA'], ['RI', 'RI'], ['SC', 'SC'], ['SD', 'SD'], ['TN', 'TN'], ['TX', 'TX'], ['UT', 'UT'], ['VT', 'VT'], ['VA', 'VA'], ['WA', 'WA'], ['WV', 'WV'], ['WI', 'WI'], ['WY', 'WY']], {:selected => @user.state}) %>
                <br /><em style="color: red"><%= @user.errors[:hometown] %></em>
            </li>
            <li>
                Gender: <input type="radio" name="sex" value="m" <%= @user.sex == "m" ? "checked" : "" %> /> Male <input type="radio" name="sex" value="f" <%= @user.sex == "f" ? "checked" : "" %> /> Female
                <br /><em style="color: red"><%= @user.errors[:sex] %></em>
            </li>
            <div class="clear"></div>
        </ul>
    </span>
    <!-- end user info -->
    
    <hr />
    
    <!-- begin account information -->
    <span style="width: 100%">
        <h1>Account Settings <i><a href="javascript:void(0);" name="edit" onclick="$('static-settings').toggle(); $('edit-settings').toggle();">Edit</a></i></h1>
        <ul id="static-settings" name="user-info" <%= if !@saved then "style=\"display: none\"" end %> >
            <li><%= @user.email %></li>
            <li>Security Question: <%= @user.question_1 %></li>
            <li>Answer: ********</li>
            <li>Password: ********</li>
            <div class="clear"></div>
        </ul>
        <ul id="edit-settings" name="user-info" <%= if @saved then "style=\"display: none\"" end %>>
            <li>
                E-mail: <input align="right" id="email" maxlength="50" name="email" size="20" type="text" value="<%= @user.email %>" />

                <br /><em style="color: red"><%= @user.errors[:email] %></em>
            </li>
            <li>
                Security Question: <input align="right" id="question_1" maxlength="70" name="question_1" size="30" type="text" value="<%= @user.question_1 %>" />
                <br /><em style="color: red"><%= @user.errors[:question_1] %></em>
            </li>
            <li>
                Answer: <input align="right" id="answer_1" maxlength="50" name="answer_1" size="20" type="text" value="<%= @user.answer_1 %>" />
                <br /><em style="color: red"><%= @user.errors[:answer_1] %></em>
            </li>
            <li>
                Password: <input align="right" id="password" maxlength="50" name="password" size="20" type="text" value="********" />
                <br /><em style="color: red"><%= @user.errors[:password] %></em>
            </li>
            <li>
                Confirm Password: <input align="right" id="password_confirmation" maxlength="50" name="password_confirmation" size="20" type="text" value="********" />
                <br /><em style="color: red"><%= @user.errors[:password_confirmation] %></em>
            </li>
            <div class="clear"></div>
        </ul>
    </span>
    <!-- end account information -->
    
    <hr />

    <h1>Tagged Teams</h1>
    <hr />
    <h1 id="pro_tab" class="selected" style="display: inline" onclick="//toggleTabs($H({ pro_tab: 'pro'}), $H({ college_tab: 'college'}));">Pro</h1>
    <!--<h1 id="college_tab" style="display: inline" onclick="toggleTabs($H({ college_tab: 'college'}), $H({ pro_tab: 'pro'}));">College</h1>-->

<!-- Professional sports -->

  <div id="pro">

<%
  @pro_leagues.size.times do |l| 
    abbr = @pro_leagues[l].abbreviation.gsub(/[\s']/, "_")
%>
    <hr />
    <h2>
      <input id="sport_list_<%= abbr %>_checkbox" name="sports[]" onclick="toggleHeaderCheckbox('sport_list_<%= abbr %>'); return true;" type="checkbox" value="<%= @pro_leagues[l].abbreviation + "," + (@pro_leagues[l].affiliation_id).to_s %>" />
      <a onclick="$('<%= abbr + "_checkbox" %>').checked = !$('<%= abbr + "_checkbox" %>').checked; toggleHeaderCheckbox('sport_list_<%= abbr %>'); return true;"><%= @pro_leagues[l].abbreviation %></a>
      <a class="check" id="check_all_sport_list_<%= abbr %>" onclick="checkAllLeague('sport_list_<%= abbr %>');">Select All</a><a class="check" id="uncheck_all_sport_list_<%= abbr %>" style="display: none" onclick="uncheckAllLeague('sport_list_<%= abbr %>');">Select All</a>
    </h2>
    
    <div class="conference" id="sport_list_<%= abbr %>" style="display: none">
<%
    @pro_divisions[l].size.times do |d|
      div_abbr = abbr + @pro_divisions[l][d].full_name.gsub(/[\s\.']/, '_')
%>
        <span>
            <h3>
              <input type="checkbox" onclick="toggleHeaderCheckbox('<%= div_abbr %>'); return true;" id="<%= div_abbr %>_checkbox" />
              <a onclick="$('<%= div_abbr + "_checkbox" %>').checked = !$('<%= div_abbr + "_checkbox" %>').checked; toggleHeaderCheckbox('<%= div_abbr %>'); return true;"><%= @pro_divisions[l][d].full_name %></a>
            </h3>
            <ul id="<%= div_abbr %>" style="display: none">
<%
        @pro_teams[l][d].size.times do |t|
            team_abbr = (@pro_teams[l][d][t].full_name).gsub(/[\s\.']/, '_')
            db_team = Team.find(@pro_teams[l][d][t].team_id)
%>
                <li>
                    <input class="<%= team_abbr %>" id="<%= team_abbr %>_checkbox" name="<%= abbr %>[]" type="checkbox" value="<%= @pro_teams[l][d][t].last_name + "," + (@pro_teams[l][d][t].team_id).to_s %>" />
                    <label onclick="$('<%= team_abbr + "_checkbox" %>').checked = !$('<%= team_abbr + "_checkbox" %>').checked;"><%= @pro_teams[l][d][t].full_name %></label>
                    <em style="font-size: .73em"><%= db_team.followers %> fans</em>
                </li>
                
                <%
                  if @tagged_teams.has_key?(@pro_leagues[l].affiliation_id.to_i) && @tagged_teams[@pro_leagues[l].affiliation_id.to_i].include?(db_team.id)
                %>

                  <%= javascript_tag "
                          $$('input.#{team_abbr}')[0].checked = true; 
                           
                          if ($$('input.#{team_abbr}')[0].up(0).up(0).previous('h3').down(0) != undefined) {
                              $$('input.#{team_abbr}')[0].up(0).up(0).previous('h3').down(0).checked = true;
                              $$('input.#{team_abbr}')[0].up(0).up(0).show();
                          }"
                  %>
                <% end %>
                
        <%
            end # close teams loop
        %>
                <li>
                  <input id="check_all_<%= div_abbr %>" name="check_all_<%= div_abbr %>" onclick="toggle_all_checkboxes('<%= div_abbr %>'); return true;" type="checkbox" value="check_all" />
                  <label id="check_all_<%= div_abbr %>_label" onclick="$('check_all_<%= div_abbr %>').checked = !$('check_all_<%= div_abbr %>').checked; toggle_all_checkboxes('<%= div_abbr %>');">Check All</label><label id="uncheck_all_<%= div_abbr %>_label" style="display: none" onclick="$('check_all_<%= div_abbr %>').checked = !$('check_all_<%= div_abbr %>').checked; toggle_all_checkboxes('<%= div_abbr %>');">Uncheck All</label>
                </li>
                <div class="clear"></div>
            </ul>
        </span>
    <%
        end # close divisions loop
    %>
    </div> <!-- close conference div -->
    
    <% if @tagged_teams.has_key?(@pro_leagues[l].affiliation_id.to_i) %>
      <%= javascript_tag "$('sport_list_#{abbr}_checkbox').checked = true; $('sport_list_#{abbr}').show();" %>
    <% end %>
    
<%
  end # close leagues loop
%>

<%  
  @college_leagues.size.times do |l|
    abbr = @college_leagues[l].abbreviation.gsub(/[\s']/, "_")
%>
    <hr />
    <h2>
      <input id="sport_list_<%= abbr %>_checkbox" name="college[]" onclick="toggleHeaderCheckbox('sport_list_<%= abbr %>'); return true;" type="checkbox" value="<%= @college_leagues[l].abbreviation + "," + (@college_leagues[l].affiliation_id).to_s %>" />
      <a onclick="$('<%= abbr + "_checkbox" %>').checked = !$('<%= abbr + "_checkbox" %>').checked; toggleHeaderCheckbox('sport_list_<%= abbr %>'); return true;"><%= @college_leagues[l].full_name %></a>
      <a class="check" id="check_all_sport_list_<%= abbr %>" onclick="checkAllLeague('sport_list_<%= abbr %>');">Select All</a><a class="check" id="uncheck_all_sport_list_<%= abbr %>" style="display: none" onclick="uncheckAllLeague('sport_list_<%= abbr %>');">Select All</a>
    </h2>
    <div class="conference" id="sport_list_<%= abbr %>" style="display: none">
<%
    @college_conferences[l].size.times do |c|
      conf_abbr =  abbr + @college_conferences[l][c].full_name.gsub(/[\s\.']/, '_')
%>
        <span>
            <h3>
              <input type="checkbox" onclick="toggleHeaderCheckbox('<%= conf_abbr %>'); return true;" id="<%= conf_abbr %>_checkbox" />
              <a onclick="$('<%= conf_abbr + "_checkbox" %>').checked = !$('<%= conf_abbr + "_checkbox" %>').checked; toggleHeaderCheckbox('<%= conf_abbr %>'); return true;"><%= @college_conferences[l][c].full_name %></a>
            
            </h3>
            <ul id="<%= conf_abbr %>" style="display: none">
<%
        @college_teams[l][c].size.times do |t|
            team_abbr = (@college_teams[l][c][t].full_name).gsub(/[\s\.'\(\)&,-]/, '_') + abbr
            db_team = Team.find(@college_teams[l][c][t].team_id)
%>
                <li>
                  <input class="<%= team_abbr %>" id="<%= team_abbr %>_checkbox" name="<%= abbr %>[]" type="checkbox" value="<%= @college_teams[l][c][t].first_name.to_s + "," + (@college_teams[l][c][t].team_id).to_s %>" />
                  <label onclick="$('<%= team_abbr + "_checkbox" %>').checked = !$('<%= team_abbr + "_checkbox" %>').checked;"><%= @college_teams[l][c][t].full_name %></label>
                  <em style="font-size: .8em"><%= db_team.followers %> fans</em>
                </li>
                
                <%
                  if @tagged_teams.has_key?(@college_leagues[l].affiliation_id.to_i) && @tagged_teams[@college_leagues[l].affiliation_id.to_i].include?(db_team.id)
                %>

                  <%= javascript_tag "
                          $$('input.#{team_abbr}')[0].checked = true; 
                           
                          if ($$('input.#{team_abbr}')[0].up(0).up(0).previous('h3').down(0) != undefined) {
                              $$('input.#{team_abbr}')[0].up(0).up(0).previous('h3').down(0).checked = true;
                              $$('input.#{team_abbr}')[0].up(0).up(0).show();
                          }"
                  %>
                <% end %>
        <%
            end # close teams loop
        %>
                <li>
                  <input id="check_all_<%= conf_abbr %>" name="check_all_<%= conf_abbr %>" onclick="toggle_all_checkboxes('<%= conf_abbr %>'); return true;" type="checkbox" value="check_all" />
                  <label id="check_all_<%= conf_abbr %>_label" onclick="$('check_all_<%= conf_abbr %>').checked = !$('check_all_<%= conf_abbr %>').checked; toggle_all_checkboxes('<%= conf_abbr %>');">Check All</label><label id="uncheck_all_<%= conf_abbr %>_label" style="display: none" onclick="$('check_all_<%= conf_abbr %>').checked = !$('check_all_<%= conf_abbr %>').checked; toggle_all_checkboxes('<%= conf_abbr %>');">Uncheck All</label>
                </li>
                <div class="clear"></div>
            </ul>
        </span>
    <%
        end # close conferences loop
    %>
    </div> <!-- close conference div -->
    
    <% if @tagged_teams.has_key?(@college_leagues[l].affiliation_id.to_i) %>
      <%= javascript_tag "$('sport_list_#{abbr}_checkbox').checked = true; $('sport_list_#{abbr}').show();" %>
    <% end %>
    
<%
  end # close college leagues loop
%>
    <a href="/home" class="back">Home</a>
    <input name="save" type="submit" class="submit" value="Save" />

  </div> <!-- close pro <div> -->
  
     
  </form>
  
<%
  
  path = RAILS_ROOT + "/public/users/" + (@user.id).to_s + "/" + (@user.id).to_s + ".profile"
  parser = XML::Parser.file(path)
  profile = parser.parse
  
  node = profile.find_first('//root/birthday')      
  if !(node.blank?)
    if (node['show'] == "no")
%>
      <%= javascript_tag "$('show_birthday').checked = true" %>
<%
    end  
  end
  node = profile.find_first('//root/hometown')      
  if !(node.blank?)
    if (node['show'] == "no")
%>
      <%= javascript_tag "$('show_hometown').checked = true" %>
<%
    end  
  end
  node = profile.find_first('//root/sex')      
  if !(node.blank?)
    if (node['show'] == "no")
%>
      <%= javascript_tag "$('show_sex').checked = true" %>
<%
    end  
  end
  
%>
  
