
<%= render :partial => "draggables/partials/header" %>

  <ul id="<%= @drop_id %>_content">

<% @articles.size.times do |a| %>

    <li>
      <h1>
        <%= link_to_remote @titles[a],
           :url => {:controller => "article", :action => "article"},
           :with => "'drop_id=#{@drop_id}&amp;document_id=#{@articles[a].document_id}&amp;prev_partial=#{@partial_path}&amp;dragged_id=#{@dragged_id}'"
        %>
        <em><%= @dates[a].strftime("%m/%d %I:%M%p") %></em>
      </h1>
      <p><%= @abstracts[a] %></p>
      <em>
        <%= link_to_remote "Read more",
           :url => {:controller => "article", :action => "article"},
           :with => "'drop_id=#{@drop_id}&amp;document_id=#{@articles[a].document_id}&amp;prev_partial=#{@partial_path}&amp;dragged_id=#{@dragged_id}'"
        %>
      </em>
    </li>

  
<%
    end  #close articles loop 
%>
  
  </ul>

<%= render :partial => "draggables/partials/footer" %>
