
<%= render :partial => "draggables/partials/header" %>

  <ul id="<%= @drop_id %>_content">

<% @articles.size.times do |a| %>

    <li>
      <h1>
        <a href="javascript:void(0);" onclick="new Ajax.Request('/article/article', {asynchronous:true, evalScripts:true, parameters:'drop_id=<%= @drop_id %>&amp;document_id=<%= @articles[a].document_id %>&amp;prev_partial=<%= @partial_path %>&amp;dragged_id=<%= @dragged_id %>'}); return false;"><%= @titles[a] %></a>
        %>
        <em><%= @dates[a].strftime("%m/%d %I:%M%p") %></em>
      </h1>
      <p><%= @abstracts[a] %></p>
      <em>
        <a href="javascript:void(0);" onclick="new Ajax.Request('/article/article', {asynchronous:true, evalScripts:true, parameters:'drop_id=<%= @drop_id %>&amp;document_id=<%= @articles[a].document_id %>&amp;prev_partial=<%= @partial_path %>&amp;dragged_id=<%= @dragged_id %>'}); return false;">Read more</a>
      </em>
    </li>

  
<%
    end  #close articles loop 
%>
  
  </ul>

<%= render :partial => "draggables/partials/footer" %>
