
<%= render :partial => "draggables/partials/header" %>
  <div style="color: DimGrey; font-size: 1.75em">
    <div style="border-right: 2px solid LightGray">#<%= @player.uniform_number %>&nbsp;<%= @player.full_name %></div>
    <div style="border-right: 2px solid LightGrey"><%= (@player.position).capitalize! %></div>
  </div>
  
  <ul id="<%= @drop_id %>_content">

  <%
    @stats_types.size.times do |i|
      name = @stats_types[i].stats_type.gsub(/_|#{@sport_name}/, " ")
      name = name.strip.capitalize!
  %>
      <li style="text-align: center">
        <span class="clps01col clps" style="text-align: left"><h1><%= name + "s" %></h1></span>
        <div class="clear"></div>
      </li>
      <!-- collapsed column headers -->
      <li class="colHead show clps" style="text-align: center">
        <%
          j = -1
          @fields[i].size.times do |f|
            j += 1
            break if (j > 9)
        %>
          <span class="clps12col clps"><%= @fields[i][f].abbreviation %></span>
        <% end %>
        <div class="clear"></div>
      </li>
      <!-- collapsed content -->
      <li class="show clps" style="text-align: center">
        <%
          j = -1
          @fields[i].size.times do |f|
            j += 1
            break if (j > 9)
        %>
          <span class="clps12col clps"><%= @stats[i].blank? ? "NA" : (@stats[i][@fields[i][f].stats_field].blank? ? "NA" : @stats[i][@fields[i][f].stats_field]) %></span>
        <% end %>
        <div class="clear"></div>
      </li>
      
      
      <!-- expanded column headers -->
      <li class="colHead hidden expn" style="text-align: center; display:none">
        <% @fields[i].size.times do |f| %>
          <span class="clps30col clps"><%= @fields[i][f].abbreviation %></span>
        <% end %>
        <div class="clear"></div>
      </li>
      <!-- expanded content -->
      <li class="hidden expn" style="text-align: center; display: none">
        <% @fields[i].size.times do |f| %>
          <span class="clps30col clps"><%= @stats[i].blank? ? "NA" : (@stats[i][@fields[i][f].stats_field].blank? ? "NA" : @stats[i][@fields[i][f].stats_field]) %></span>
        <% end %>
        <div class="clear"></div>
      </li>
  <%
      end # close stats_types loop
  %>
  
  </ul>

<%= render :partial => "draggables/partials/footer" %>


<!--
<div class="row">
  <div class="cell_100" style="font-weight: bold; text-align: right">Weight:</div>
  <div class="cell_60"><%= @player.weight %>lbs</div>
</div>
  
<div class="row">
  <div class="cell_100" style="font-weight: bold; text-align: right">Height:</div>
  <div class="cell_60"><%= @player.height %>"</div>
</div>

<div class="row">
  <div class="cell_100" style="font-weight: bold; text-align: right">DOB:</div>
  <div class="cell_60"><%= datetime_to_time(@player.birth_date).strftime("%m/%d/%y") %></div>
</div>
-->

