

<div class="row" style="font-size: 1.5em; color: DimGray">
  <div class="cell_60" style="border-right: 2px solid LightGray">#<%= @player.uniform_number %></div>
  <div class="cell_180" style="border-right: 2px solid LightGrey"><%= @player.full_name %></div>
  <div class="cell_80" style="border-right: 2px solid LightGrey"><%= (@player.position).capitalize! %></div>
  <div class="cell_120"><%= @player.team_full_name %></div>
</div>

<div class="row">
  <div class="cell_40">&nbsp;</div>
</div>


  <%
    @stats_types.size.times do |i|
      name = @stats_types[i].stats_type.gsub(/_|#{@sport_name}/, " ")
      name = name.strip.capitalize!
  %>
      <div class="row">
        <div class="cell_30"><%= name + "s" %></div>
      </div>
      <div class="row" style="font-size: .75em">  
      <% @fields[i].size.times do |f| %>
        <div class="cell_30" style="text-align: center"><%= @fields[i][f].abbreviation %><br/>
          <%= @stats[i].blank? ? "NA" : (@stats[i][@fields[i][f].stats_field].blank? ? "NA" : @stats[i][@fields[i][f].stats_field]) %>
        </div>
      
      <% end %>
      </div>
  <%    
    end
  %>  
  



<!--
<div class="row">
  <div class="cell_100" style="font-weight: bold; text-align: right">Weight:</div>
  <div class="cell_60"><%= @player.weight %>lbs</div>
</div>
  
<div class="row">
  <div class="cell_100" style="font-weight: bold; text-align: right">Height:</div>
  <div class="cell_60"><%= @player.height %>"</div>
</div>

<div class="row">
  <div class="cell_100" style="font-weight: bold; text-align: right">DOB:</div>
  <div class="cell_60"><%= datetime_to_time(@player.birth_date).strftime("%m/%d/%y") %></div>
</div>
-->

