
<%= render :partial => "draggables/partials/header" %>

  <ul id="<%= @drop_id %>_content">
    <li>
     <span class="clps05col clps">Date</span>
     <span class="clps05col clps">Team</span>
     <span class="clps05col clps">Spread</span>
     <span class="clps05col clps">O/U</span>
     <span class="clps05col clps">Money</span>
     <div class="clear"></div>
   </li>
 
<%
    @lines.each do |line|
%>
   
    <li>
      <span class="clps05col clps">
        <%= line.start_date_time.strftime("%a, %m/%d") %>
        <br/>  
        <%= line.start_date_time.strftime("%I:%M%P") %>
      </span>
      <span class="clps05col clps">
        <a href="/team/<%= line.t1_id %>"><%= line.t1_last_name %></a>
        <br/>
        <a href="/team/<%= line.t2_id %>"><%= line.t2_last_name %></a>
      </span>
      <span class="clps05col clps">
        <%= line.t1_spread_line == nil ? "off" : line.t1_spread_line %>
        <br/>
        <%= line.t2_spread_line == nil ? "off" : line.t2_spread_line %>
      </span>
      <span class="clps05col clps">
        <%= line.t1_line_total == nil ? "off" : line.t1_line_total %>
        <br/>
        <%= line.t2_line_total == nil ? "off" : line.t2_line_total %>
      </span>
      <span class="clps05col clps">
        <%= line.t1_money_line == nil ? "off" : line.t1_money_line %>
        <br/>
        <%= line.t2_money_line == nil ? "off" : line.t2_money_line %>
      </span>
      <div class="clear"></div>
    </li>
  
  
  <%
      end # close lines loop
  %>
    
  </ul>

<%= render :partial => "draggables/partials/footer" %>
