

<%= render :partial => "draggables/partials/header" %>

  <ul id="<%= @drop_id %>_content">
    <li class="colHead" style="text-align: center">
     <span class="clps12col clps">#</span>
     <span class="clps03col clps" style="text-align: left">Name</span>
     <span class="clps08col clps">Pos</span>
     <span class="clps08col clps">HT</span>
     <span class="clps08col clps">WT</span>
     <span class="clps08col clps">DOB</span>
     <div class="clear"></div>
   </li>
    
  <% @roster.each do |player| %>
    <li style="text-align: center">
      <span class="clps12col clps"><%= player.uniform_number %></span>
      <span class="clps03col clps" style="text-align: left"><a href="/player/<%= player.person_id %>"><%= player.full_name %></a></span>
      <span class="clps08col clps"><%= player.position %></span>
      <span class="clps08col clps"><%= player.height %></span>
      <span class="clps08col clps"><%= player.weight %></span>
      <span class="clps08col clps"><%= datetime_to_time(player.birth_date).strftime("%m/%d/%y") %></span>
      <div class="clear"></div>
    </li>
  <% end %>
  
  </ul>

<%= render :partial => "draggables/partials/footer" %>
