
  <%= render :partial => "draggables/partials/header" %>

  <ul id="<%= @drop_id %>_content">
    <li class="colHead">
      <span class="clps20col clps">&nbsp;</span>
      <span class="clps05col clps">Opponent</span>
      <span class="clps06col clps">Date</span>
      <span class="clps06col clps">Time</span>
      <span class="clps06col clps">&nbsp;</span>
      <span class="clps06col clps">TV</span>
      <div class="clear"></div>
    </li>
  
<%
    @games.each do |game|
      (game.t1_alignment.eql?("home")) ? home_away = "vs" : home_away = "@"
%>
    <li>
      <span class="clps20col clps"><%= home_away %></span>
      <span class="clps05col clps"><a href="/team/<%= game.opponent_id %>"><%= @isCollege ? game.opponent_first_name : game.opponent_last_name %></a></span>
      <span class="clps06col clps"><%= game.start_date_time.strftime("%a, %m/%d") %></span>
      <span class="clps06col clps"><%= game.start_date_time.strftime("%I:%M%P") %></span>
      <% if game.event_status == "pre-event" %>
        <span class="clps06col clps">
          <a href="javascript:void(0)" onclick="new Ajax.Request('/article/event_preview', {asynchronous:true, evalScripts:true, parameters:'drop_id=<%= @drop_id %>&amp;dragged_id=<%= @dragged_id %>&amp;event_id=<%= game.event_id %>&amp;prev_partial=<%= @partial_path %>'}); return false;">Preview</a>
        </span>
      <% else %>
        <span class="clps06col clps">&nbsp;</span>
      <% end %>
      <span class="clps06col clps"><%= game.broadcast_listing.to_s %></span>
      <div class="clear"></div>
    </li>

<%
    end # close games loop
%>

  </ul>

<%= render :partial => "draggables/partials/footer" %>
