

<%= render :partial => "draggables/partials/header" %>

  <ul id="<%= @drop_id %>_content">
    <li class="colHead">
      <span class="clps05col clps">Date</span>
      <span class="clps20col clps">&nbsp;</span>
      <span class="clps05col clps">Opponent</span>
      <span class="clps05col clps">Score</span>
      <div class="clear"></div>
    </li>

  
  <%
    
    @games.each do |game|
      (game.t1_alignment.eql?("home")) ? home_away = "vs" : home_away = "@"
      
      outcome = ""
      if(game.t1_outcome == 'win') then
        outcome = "Win"
      elsif(game.t1_outcome == 'loss') then
        outcome = "Loss"
      end

  %>

    <li>
      <span class="clps05col clps"><%= game.start_date_time.strftime("%m/%d/%y") %></span>
      <span class="clps20col clps"><%= home_away %></span>
      <span class="clps05col clps"><a href="/team/<%= game.opponent_id %>"><%= @isCollege ? game.opponent_first_name : game.opponent_last_name %></a></span>
      <span class="clps05col clps"><%= game.t1_score + "-" + game.t2_score + " " + outcome %></span>
      <% if game.event_status == "post-event" %>
        <span class="clps06col clps">
          <a href="javascript:void(0)" onclick="new Ajax.Request('/article/event_recap', {asynchronous:true, evalScripts:true, parameters:'drop_id=<%= @drop_id %>&amp;dragged_id=<%= @dragged_id %>&amp;event_id=<%= game.event_id %>&amp;prev_partial=<%= @partial_path %>'}); return false;">Recap</a>
        </span>
      <% elsif game.event_status == "mid-event" || game.event_status == "intermission" 
        sport = Affiliation.get_sport_by_league_id(@leagues[@i].affiliation_id)
        state = Event.get_event_state(game.event_id, sport.full_name)
    
      %>
        <span class="clps06col clps">
          <%= state %>
        </span>
      <% end %>
      <div class="clear"></div>
    </li>

<%    
    end # close games loop
%>
  
  </ul>

<%= render :partial => "draggables/partials/footer" %>

