
<div class="row_title">
  League Offensive Leaders
</div>

<div class="row" style="font-weight: bold" align="center">
  <div class="cell_120" align="left">Player</div>
  <div class="cell_40">ppg</div>
  <div class="cell_40">rpg</div>
  <div class="cell_40">apg</div>
</div>

<% 
  i = 0
  @leaders.each do |leader|
    if (i%2 == 0)
      html_class = "even_row"
    else
      html_class = "odd_row"
    end
%>

  <div class="<%= html_class %>" align="center">
    <div class="cell_120" align="left"><%= leader.first_name + " " + leader.last_name %></div>
    <div class="cell_40"><%= leader.points_scored_per_game %></div>
    <div class="cell_40"><%= leader.rebounds_per_game %></div>
    <div class="cell_40"><%= leader.assists_per_game %></div>
  </div>
  
<%
    i += 1
  end
%>
