
<%= render :partial => "layouts/ticker" %>
      
	
<div id="hero">
  <a href="/home"><div id="logo"></div></a>
  <!-- Background switchers -->
  <ul>
    <li>
	  <%= link_to_remote "<img src=\"/images/css/btn-bg-grass.jpg\" alt=\"Grass Button\" name=\"Grass\" width=\"25\" height=\"25\" border=\"0\" id=\"Grass\" />",
           {:url => {:controller => "user_preferences", :action => "change_background"},
           :with => "'background=grass'"},
           {:onmouseout => "MM_swapImgRestore()",
			:onmouseover => "MM_swapImage('Grass','','/images/css/btn-bg-grass-ovr.jpg',1)"}
        %>
    </li>
    <li>
	  <%= link_to_remote "<img src=\"/images/css/btn-bg-clay.jpg\" alt=\"Clay Button\" name=\"Clay\" width=\"25\" height=\"25\" border=\"0\" id=\"Clay\" />",
           {:url => {:controller => "user_preferences", :action => "change_background"},
           :with => "'background=clay'"},
           {:onmouseout => "MM_swapImgRestore()",
			:onmouseover => "MM_swapImage('Clay','','/images/css/btn-bg-clay-ovr.jpg',1)"}
        %>
	</li>
    <li>
      <%= link_to_remote "<img src=\"/images/css/btn-bg-ice.jpg\" alt=\"Ice Button\" name=\"Ice\" width=\"25\" height=\"25\" border=\"0\" id=\"Ice\" />",
           {:url => {:controller => "user_preferences", :action => "change_background"},
           :with => "'background=ice'"},
           {:onmouseout => "MM_swapImgRestore()",
			:onmouseover => "MM_swapImage('Ice','','/images/css/btn-bg-ice-ovr.jpg',1)"}
        %>
	</li>
    <li>
      <%= link_to_remote "<img src=\"/images/css/btn-bg-wood.jpg\" alt=\"Wood Button\" name=\"Wood\" width=\"25\" height=\"25\" border=\"0\" id=\"Wood\" />",
           {:url => {:controller => "user_preferences", :action => "change_background"},
           :with => "'background=wood'"},
           {:onmouseout => "MM_swapImgRestore()",
			:onmouseover => "MM_swapImage('Wood','','/images/css/btn-bg-wood-ovr.jpg',1)"}
        %>
	</li>
    <li>
      <%= link_to_remote "<img src=\"/images/css/btn-bg-asphalt.jpg\" alt=\"Asphalt Button\" name=\"Asphalt\" width=\"25\" height=\"25\" border=\"0\" id=\"Asphalt\" />",
           {:url => {:controller => "user_preferences", :action => "change_background"},
           :with => "'background=asphalt'"},
           {:onmouseout => "MM_swapImgRestore()",
			:onmouseover => "MM_swapImage('Asphalt','','/images/css/btn-bg-asphalt-ovr.jpg',1)"}
        %>
	</li>
    <div class="clear"></div>
  </ul>
</div>

<!-- Leaderboard Ad -->
<div id="ad-leaderboard"><span class="center"><script  src="http://tag.contextweb.com/TagPublish/getjs.aspx?action=VIEWAD&cwrun=200&cwadformat=728X90&cwpid=530391&cwwidth=728&cwheight=90&cwpnet=1&cwtagid=89211"></script></img></span></div>
<div class="clear"></div>    