
<!-- System Message -->         
    <div id="system-message" class="hidden">
      <img src="/images/css/advertisement-system.jpg" alt="SystemMessage" name="system-message" />
	</div>
	
	
	<%
	  # Get the user's profile info if they've chosed to make it public
	  
	  profile = Hash.new
	  
	  path = RAILS_ROOT + "/public/users/#{@user.id}/#{@user.id}.profile"
	  parser = XML::Parser.file(path)
	  xml = parser.parse
	  
	  node = xml.find_first("//root/birthday")
	  profile.store("Birthday", CGI.unescape(node.content)) if node["show"].eql?("yes")
	  node = xml.find_first("//root/hometown")
	  profile.store("Hometown", CGI.unescape(node.content)) if node["show"].eql?("yes")
	  node = xml.find_first("//root/sex")
	  profile.store("Gender", CGI.unescape(node.content)) if node["show"].eql?("yes")
	  node = xml.find_first("//root/status")
	  status = CGI.unescape(node.content.to_s)
		
	%>
	
	<!-- User info -->
	<div id="profile" class="profile">
	  <a href="/home" name="headshot" id="left-column-photo"><img src="/users/<%= @user.id %>/<%= @user.id %>_thumbnail.png" alt="headshot" class="headshot" /></a>
	  <h1><a href="/home" name="edit" style="font-size: 1.2em; font-weight: bold"><%= @user.first_name + " " + @user.last_name %></a></h1>
	  <h1 id="static_status" class="clear">
		<i id="status_text" style="color: #000000"><%= status %></i><br />
		<a href="javascript:void(0);" style="text-decoration: underline" onclick="$('static_status').hide(); $('update_status').show();">Update status</a>
	  </h1>
	  <% if (session[:visiting_id].blank?) %>
	  <h1 id="update_status" class="clear" style="display: none">
		<%= text_area_tag ("status", status, {:size => "18x3", :maxLength => 80, :id=>"status" } ) %>
		<%= link_to_remote "Save", {:url => {:controller => "user_preferences", :action => "save_status"}, :with => "'status=' + $('status').value", :complete => "$('static_status').show(); $('update_status').hide();"}, { :style => "text-decoration: underline" } %>
	  </h1>
	  <% end %>

	  <% profile.each_pair  do |key, value| %>
	  <h1 class="clear">
	    <span name="normal"><%= key %>:</span>
	    <span class="normal"><%= value %></span>
      </h1>
      <% end %>
	  
	  <!--<h1 class="clear">
	    <a name="help">Hotstreak</a>:
	    <span class="win"><%= @user.wins %></span> / <span class="loss"><%= (@user.wins + @user.losses) %></span> <span class="normal">(<%= @user.losses == 0 ? ".000" : (@user.wins.to_f/(@user.wins + @user.losses).to_f).to_s[0..4] %>)</span>
      </h1>-->
	  <div class="clear"></div>
	</div>
	
	<%= draggable_element ("profile", {:revert => true, :ghosting => true}) %>
	  
	<!-- My Tagged Teams -->        
	<div id="header">
	  <h1>My Tagged Teams</h1>
          <h2><a href="/preferences" name="tagged-teams-edit" title="Edit My Teams">Edit</a></h2>
    </div>
   
	<!--- Left menu -->
	<ul>
	  <%
		path = RAILS_ROOT + "/public/users/" + (@user.id).to_s + "/" + (@user.id).to_s + ".profile"
		parser = XML::Parser.file(path)
		profile = parser.parse
		sports = profile.find('//root/sports/sport')
		sports.each do |sport| 
		  sport_attr = sport.attributes['sport']
	  %>
	  <span>
		<div id="header">
		  <a id="plus_minus_my_<%= sport_attr %>"  href="javascript:void(0);" class="collapsed" onclick="expand_collapse_menu('my_<%= sport_attr %>');"></a>
		  <h1><%= sport['sport_name'] %></h1>
		</div>
		
		<div id="my_<%= sport_attr %>" style="display: none" >
		  <li class="even"><a href="/league/<%= sport['id'] %>" name="all-teams">League</a></li>
		  <%
			odd_even = 0
			sport.each_element do |team|
			  odd_even += 1
		  %>
		  <li id="team_<%= team['id'] %>" class="<%= (odd_even % 2) == 0 ? "even" : "odd" %>">
			<a href="/team/<%= team['id'] %>" name="team-name" onclick="make_selected('team_<%= team['id'] %>')"><%= team.content %></a>
		  </li>
		  <% end %>
		</div>
	  </span>
	  <% end # close sports loop
	  
		 #now loop through the user's college sports
		 sports = profile.find('//root/sports/collegeSports/sport')
		 sports.each do |sport| 
		  sport_attr = sport.attributes['sport']
	  %>
		 <span>
			
			<div id="header">
			  <a id="plus_minus_my_<%= sport_attr %>"  href="javascript:void(0);" class="collapsed" onclick="expand_collapse_menu('my_<%= sport_attr %>');"></a>
			  <h1><%= sport['sport_name'] %></h1>
			</div>
			
			<div id="my_<%= sport_attr %>" style="display: none" >
			  <div>
			  <li class="even"><a href="/league/<%= sport['id'] %>" name="all-teams">League</a></li>
			  <%
				odd_even = 0
				sport.each_element do |team|
				  odd_even += 1
			  %>
			  <li id="team_<%= team['id'] %>" class="<%= (odd_even % 2) == 0 ? "even" : "odd" %>">
				<a href="/team/<%= team['id'] %>" name="team-name" onclick="make_selected('team_<%= team['id'] %>')"><%= team.content %></a>
			  </li>
			  <% end %>
			  </div>
			</div>
		 </span>
	  <%
		 end # close sport loop
	  %>     
		 
	</ul> <!-- close left menu -->
      
	<!-- left column floating advertisement -->
	<div id="ad-left-column">
	  <!--<span><script  src="http://tag.contextweb.com/TagPublish/getjs.aspx?action=VIEWAD&cwrun=200&cwadformat=300X250&cwpid=530391&cwwidth=300&cwheight=250&cwpnet=1&cwtagid=89212"></script><span>-->
	  <img src="/images/css/advertisement-leftcolumn.jpg" alt="Advertiser" />
	</div>
	
	<div class="clear"></div>      