
<div class="marquee" id="ticker">
  <%
    leagues = Affiliation.get_all_in_season_leagues()
    
    leagues.each do |league|
      
      scores = Array.new()
      i = 1
      while scores.size == 0 && i < 31
        scores = Affiliation.get_games_by_date_range(league.affiliation_id, TIME-(i*24*60*60), TIME)
        i += 1
      end
      
      games = Array.new()
      i = 1
      while games.size == 0 && i < 31
        games = Affiliation.get_games_by_date_range(league.affiliation_id, TIME, TIME+(i*24*60*60))
        i += 1
      end
      
      
  %>
        
        <span style="color:#4696bb; border:none; font-weight:bold;"><%= names.league_abbreviation(league.affiliation_id) %></span>
  <%
      
      if scores.size != 0 then
  %>
        <span style="padding:0 3px 0 3px; color:#000000; border-right:#FFFFFF thin solid; display:inline;"><%= scores[0].start_date_time.strftime("%m/%d") %></span>
  <%
      end
      scores.each do |score|
        #uncomment this to have the user's tagged teams highlighted in the ticker
        #style = ""
        #if (Team.team_is_in_profile(league.affiliation_id, score.t1_id, @user.id) || Team.team_is_in_profile(league.affiliation_id, score.t2_id, @user.id))
        #  style = "color: blue"
        #end
  %>
        <span style="padding:0 3px 0 3px; color:#000000; border-right:#FFFFFF thin solid; display:inline;"><%= "#{names.team_abbreviation(score.t1_id)} #{score.t1_score} vs #{names.team_abbreviation(score.t2_id)} #{score.t2_score}" %></span>
  <%
      end
  %>
  
  <%
      if games.size != 0 then
      
        games.each do |game|
          #uncomment this to have the user's tagged teams highlighted in the ticker
          #style = ""
          #if (Team.team_is_in_profile(league.affiliation_id, game.t1_id, @user.id) || Team.team_is_in_profile(league.affiliation_id, game.t2_id, @user.id))
          #  style = "color: blue"
          #end
  %>
        <span style="padding:0 3px 0 3px; color:#000000; border-right:#FFFFFF thin solid; display:inline;"><%= "#{names.team_abbreviation(game.t1_id)} vs #{names.team_abbreviation(game.t2_id)} #{game.start_date_time.strftime('%m/%d %I:%M%P')}" %></span>
  <%
        end
      end
  %>
  
  <%
    end #close leagues loop
  %>
    
</div>
  
<%= javascript_tag "
        marqueeInit({
          uniqueid: 'ticker',
          style: {              
              'height': '30px',
              'border-bottom': '#CCCCCC thin solid',
              'border-left': '#CCCCCC thin solid',
              'border-right': '#CCCCCC thin solid',
              'background': 'url(/images/css/ticker-bg.jpg) no-repeat top center',
              'font-size': '.7em'              
          },
          inc: 4, //speed - pixel increment for each iteration of this marquee's movement
          mouse: 'cursor driven', //mouseover behavior ('pause' 'cursor driven' or false)
          moveatleast: 2,
          neutral: 200,
          savedirection: true
        });"
%>
