
<div class="marquee" id="ticker">
  <%
    leagues = Affiliation.get_all_leagues()
    
    leagues.each do |league|
      if !(Affiliation.is_in_season(league.affiliation_id))
        next
      end
      
      scores = Array.new()
      i = 1
      while scores.size == 0
        scores = Affiliation.get_games_by_date_range(league.affiliation_id, TIME-(i*24*60*60), TIME)
        i += 1
      end
      
      games = Array.new()
      i = 1
      while games.size == 0
        games = Affiliation.get_games_by_date_range(league.affiliation_id, TIME, TIME+(i*24*60*60))
        i += 1
      end
  %>
    <span style="font-size: 1.1em; font-weight: bold; color: red"> ***** <%= league.abbreviation %> <span><%= scores[0].start_date_time.strftime("%m/%d") %></span> ***** </span>
  <%
      
      scores.each do |score|
        style = ""
        if (Team.team_is_in_profile(league.affiliation_id, score.t1_id, @user.id) || Team.team_is_in_profile(league.affiliation_id, score.t2_id, @user.id))
          style = "color: blue"
          
        end
  %>
    <span style="<%= style %>"><%= "#{score.t1_abbr} #{score.t1_score} vs #{score.t2_abbr} #{score.t2_score} -- " %></span>
  <%
      end
  %>
  
  <%
      
      games.each do |game|
        style = ""
        if (Team.team_is_in_profile(league.affiliation_id, game.t1_id, @user.id) || Team.team_is_in_profile(league.affiliation_id, game.t2_id, @user.id))
          style = "color: blue"
          
        end
  %>
    <span style="<%= style %>"><%= "#{game.t1_abbr} vs #{game.t2_abbr} #{game.start_date_time.strftime('%d/%m %I:%M%P')} -- " %></span>
  <%
      end
      
    end
  %>
  
</div>
  
<%= javascript_tag "
        marqueeInit({
          uniqueid: 'ticker',
          style: {
              'position': 'relative',
              'display': 'block',
              'margin': 'auto',
              'width': '800px',
              'height': '20px',
              'color': 'black',
              'background': 'white',
              'font-weight': 'bold',
              'font-size': '.9em'
          },
          inc: 4, //speed - pixel increment for each iteration of this marquee's movement
          mouse: 'cursor driven', //mouseover behavior ('pause' 'cursor driven' or false)
          moveatleast: 2,
          neutral: 200,
          savedirection: true
        });"
%>
