<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>sportbookpage.com - Login</title>
  <%= javascript_include_tag :defaults %>
  
<!--[if IE]>
  <%= stylesheet_link_tag 'common/ie_common' %>
<![endif]-->
<![if !(IE) ]>
  <%= stylesheet_link_tag 'common/common' %>
<![endif]>

<%= stylesheet_link_tag 'login/login', 'draggables/draggables', 'draggables/cell' %>

</head>
<body style="background: black">
  
  <!--<img src="/images/backgrounds/sbp_home_screenshot.png" alt="background" class="background" id="background"/>-->
   
  <%= yield  %>
  
  <%# javascript_tag "$('background').setOpacity(.2);" %>

</body>
</html>
