<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>sportbookpage.com - Home</title>
  
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "drop_down_menu" %>
  <%= javascript_include_tag "curvycorners", "gradient", "gradientText.js" %>

  
<!--[if IE]>
  <%= stylesheet_link_tag 'common/ie_common', 'common/ie_menus' %>
<![endif]-->
<![if !(IE) ]>
  <%= stylesheet_link_tag 'common/common', 'common/menus' %>
<![endif]>

  <%= stylesheet_link_tag 'users/challenge_form', 'users/users' %>
  <%= stylesheet_link_tag 'draggables/draggables', 'draggables/cell' %>


  <%= javascript_tag "Ajax.Responders.register({
    onCreate: function(){ document.body.style.cursor = 'progress'},
    onComplete: function(){ document.body.style.cursor = 'default' }
  });"
  %>
  
</head>
<body>
  <!--<img src="/images/backgrounds/runner.jpg" alt="background" class="background"/>-->

  <!-- Lightbox tags -->
  <div id="light" class="light" style="display: none">
    <a id="close_lightbox" class="close_lightbox" href = "javascript:void(0)" 
        onclick = "Effect.toggle('light', 'appear', {duration: .5}); Effect.toggle('lightbox_fade', 'appear', {duration: .5}); return false; $('selections').hide();">
      Close
    </a>
    <div id='light_form' class='light_form'></div>
  </div>
  <div id="lightbox_fade" class="lightbox_fade" style="display: none"></div>


  <div class="content" id="body_content">
  
    <div id="fade" class="fade"></div> <!-- close <fade> div -->
    
    <!--<a href="/home">-->
    <div class="gradient 000000 ffffff vertical banner">
      <!--<span class="gradient_ffffff_000000">-->SportBookPage.com<!--</span>-->
    </div>
    <!--</a>-->
   
    <%= render :partial => 'layouts/menus' %>
         
    <div class="advertisement_1">Advertisement 1</div>

     
    <div class="chalk_board_title">ChalkBoard</div> 
    <div class="chalk_board" id="chalk_board"><%= render :partial => 'users/partials/chalk_board' %></div>
    <div class="add_comment_link">
      <a href="javascript:void(0);" style ="color: white" onclick ="Effect.toggle('add_comment', 'appear', {duration: .6}); $('user_comment').value = '';">Add comment</a>
    </div>

    
    <div class="add_comment_text_box" id="add_comment" style="display: none">
      <%= text_area_tag('comment', nil, {:size => '48x5', :value => '', :id => "user_comment"}) %>
      <table style="width: 100%"><tr><td style="width: 50%;">
      
     <%= link_to_remote "Chalk It", 
        {:url =>  { :controller => "users", :action => "submit_comment" },
        :with => "'comment=' + encodeURIComponent($('user_comment').value)" },
        { :style => "bottom: 5px; display: inline; float: left", 
          :onclick => "Effect.toggle('add_comment', 'appear', {duration: .6}); " } %>

      </td><td style="width: 50%">
      <a href="javascript:void(0);" onclick="Effect.toggle('add_comment', 'appear', {duration: .6}); $('user_comment').value = '';" style="float: right; bottom: 5px; display: inline">Cancel</a>

      </td></tr></table>
    </div>

    <div id="yield" class="yield">
      <%= yield %>
    </div>
    
    <br style="clear: both"/>


	</div> <!-- close <div> content -->


  <%= javascript_tag "$('fade').setOpacity(.85);" %>
  <%= javascript_tag "createGradient($('body_content'));" %>

</body>
</html>


