<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>sportbookpage.com - Home</title>
  
  <%= javascript_include_tag :defaults %>
  <!--
Text and/or Image Crawler Script ©2009 John Davenport Scheuer
as first seen in http://www.dynamicdrive.com/forums/ username: jscheuer1
This Notice Must Remain for Legal Use
-->
  <%= javascript_include_tag "drop_down_menu", "crawler", "targetFunctions" %>

  
  <%= stylesheet_link_tag 'common/main' %>
  

  <%= javascript_tag "Ajax.Responders.register({
    onCreate: function(){ document.body.style.cursor = 'progress'},
    onComplete: function(){ document.body.style.cursor = 'default' }
  });"
  %>
  
</head>
<body onload="MM_preloadImages('/images/css/btn-bg-grass-ovr.jpg','/images/css/btn-bg-clay-ovr.jpg','/images/css/btn-bg-ice-ovr.jpg','/images/css/btn-bg-wood-ovr.jpg','/images/css/btn-bg-asphalt-ovr.jpg','/images/css/btn-bg-mat-ovr.jpg')">
  
  <div id="content">
    <div id="header">
      <%= render :partial => "layouts/header" %>
    </div><!-- End Header -->
    
    <div id="columns">
      <!-- Left Column -->	
      <div id="column-left" class="floatleft">
        <%= render :partial => "layouts/left_column" %>
      </div><!-- End Left Column -->
    
    <!-- center column -->
    <div id="column-center">
      <%= yield %>
    </div><!-- End Center Column -->
    
    <!-- Right Column -->
    <div id="column-right">
      <div id="ad-right"><img src="/images/css/advertisement-rightcolumn.jpg" alt="Advertiser" name="ad-right"/></div>
      
      <!-- Fanclub -->
      <div class="fanclub">
        <%= render :partial => "layouts/fan_club" %>
      </div>
      

      <!-- Chalkboard -->
      <div id="chalkboard" class="chalkboard">
        <%= render :partial => 'users/partials/chalk_board' %>
      </div>
            
    </div><!-- End right column -->
    
    <div class="clear"></div>
    
  </div><!-- End Body Columns -->
     
  <!-- Navigation low -->  
  <div id="nav-low">
    <ul>
      <li class="noborder"><a href="*" name="sport01">Sport</a></li>
      <li><a href="*" name="sport01">Sport</a></li>
      <li><a href="*" name="sport01">Sport</a></li>
      <li><a href="*" name="sport01">Sport</a></li>
      <li><a href="*" name="sport01">Sport</a></li>
      <li><a href="*" name="sport01">Sport</a></li>
      <li><a href="*" name="sport01">Sport</a></li>
      <li><a href="*" name="sport01">Sport</a></li>
      <li><a href="*" name="sport01">Sport</a></li>
      <li><a href="*" name="sport01">Sport</a></li>
      <li><a href="*" name="sport01">Sport</a></li>
      <li><a href="*" name="sport01">Sport</a></li>
      <div class="clear"></div>
    </ul>
  </div>
  
</div> <!-- End main page content -->

<!-- footer -->
<div id="footer">
  <ul>
    <li class="social"><img src="/images/css/footer-links-twitter.jpg" name="twitter" alt="Follow us on Twitter" /></li>
    <li class="social"><img src="/images/css/footer-links-facebook.jpg" name="facebook" alt="Follow us on Facebook" /></li>
    <li class="social"><img src="/images/css/footer-links-homepage.jpg" name="homepage" alt="Make us your homepage" /></li>
    
    <li class="floatleft">&copy; SportBookPage.com</li>
    <li class="floatleft"><a href="mailto:*" name="contact-info">info@sportbookpage.com</a></li>
    <li class="floatleft">Further info if desired</li>
   
    <div class="clear"></div>    
  </ul>
</div>
    
</body>
</html>


