<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>sportbookpage.com - Home</title>
  
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "drop_down_menu", "crawler" %>

  
  <%= stylesheet_link_tag 'common/main' %>
  

  <%= javascript_tag "Ajax.Responders.register({
    onCreate: function(){ document.body.style.cursor = 'progress'},
    onComplete: function(){ document.body.style.cursor = 'default' }
  });"
  %>
  
</head>
<body onload="MM_preloadImages('/images/css/btn-bg-grass-ovr.jpg','/images/css/btn-bg-clay-ovr.jpg','/images/css/btn-bg-ice-ovr.jpg','/images/css/btn-bg-wood-ovr.jpg','/images/css/btn-bg-asphalt-ovr.jpg','/images/css/btn-bg-mat-ovr.jpg')">

<!-- Lightbox tags -->
<div id="light" class="light" style="display: none">
  <a id="close_lightbox" class="close_lightbox" href = "javascript:void(0)" 
      onclick = "Effect.toggle('light', 'appear', {duration: .5}); Effect.toggle('lightbox_fade', 'appear', {duration: .5}); return false; $('selections').hide();">
    Close
  </a>
  <div id='light_form' class='light_form'></div>
</div>
<div id="lightbox_fade" class="lightbox_fade" style="display: none"></div>
  
  <div id="content">
    <div id="header">
  
      
      <%= render :partial => "layouts/ticker" %>
      
	
      <div id="hero">
       	<div id="logo"></div>
	<!-- Background switchers -->
        <ul>
	  <li><a href="*" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Grass','','/images/css/btn-bg-grass-ovr.jpg',1)"><img src="/images/css/btn-bg-grass.jpg" alt="Grass Button" name="Grass" width="25" height="25" border="0" id="Grass" /></a>                </li>
	  <li>
	  <a href="*" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Clay','','/images/css/btn-bg-clay-ovr.jpg',1)"><img src="/images/css/btn-bg-clay.jpg" alt="Clay Button" name="Clay" width="25" height="25" border="0" id="Clay" /></a>                </li>
	  <li>
	  <a href="*" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Ice','','/images/css/btn-bg-ice-ovr.jpg',1)"><img src="/images/css/btn-bg-ice.jpg" alt="Ice Button" name="Ice" width="25" height="25" border="0" id="Ice" /></a>                </li>
	  <li>
	  <a href="*" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Wood','','/images/css/btn-bg-wood-ovr.jpg',1)"><img src="/images/css/btn-bg-wood.jpg" alt="Wood Button" name="Wood" width="25" height="25" border="0" id="Wood" /></a>                </li>
	  <li>
	  <a href="*" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Asphalt','','/images/css/btn-bg-asphalt-ovr.jpg',1)"><img src="/images/css/btn-bg-asphalt.jpg" alt="Asphalt Button" name="Asphalt" width="25" height="25" border="0" id="Asphalt" /></a>                </li>
	  <li>
	  <a href="*" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Mat','','/images/css/btn-bg-mat-ovr.jpg',1)"><img src="/images/css/btn-bg-mat.jpg" alt="Mat Button" name="Mat" width="25" height="25" border="0" id="Mat" /></a>
	  </li>
	  <div class="clear"></div>
	</ul>
      </div>
      <!-- Leaderboard Ad -->
      <div id="ad-leaderboard"><img src="/images/css/advertisement-leaderboard.jpg" class="center" alt="Advertiser's Name" name="advertisement-leaderboard"/></div>
      <div class="clear"></div>    
    </div><!-- End Header -->
    
    <div id="columns">
      <!-- Left Column -->	
      <div id="column-left" class="floatleft">
	<!-- System Message -->         
        <div id="system-message" class="hidden">
          <img src="/images/css/advertisement-system.jpg" alt="SystemMessage" name="system-message" />
	</div>
	
	<!-- User info -->
	<div id="user-info">
	  <a href="*" name="headshot"><img src="/images/css/headshot-none-47x47.jpg" alt="headshot" class="headshot" /></a>
	  <h1><a href="*" name="edit">First Name Last Name</a></h1>
	  <h1 class="clear">
	    <a href="*" name="help">Hotstreak</a>:
	    <span class="win">128</span>/<span class="loss">220</span><span class="winpct">(.37)</span>
          </h1>
	  <div class="clear"></div>
	</div>
	  
	<!-- My Tagged Teams -->        
	<div id="header">
	  <h1>My Tagged Teams</h1>
          <h2><a href="/edit/sports_and_teams" name="tagged-teams-edit" title="Edit My Teams">Edit</a></h2>
        </div>
   
	<%= render :partial => "layouts/menus" %>
      
	<!-- left column floating advertisement -->
	<div id="ad-left-column">
	  <img src="/images/css/advertisement-leftcolumn.jpg" alt="Advertiser" />
	</div>
	
	<div class="clear"></div>       
      
      </div><!-- End Left Column -->
    
    
    <%= yield %>
    
    <!-- Right Column -->
    <div id="column-right">
      <div id="ad-right"><img src="/images/css/advertisement-rightcolumn.jpg" alt="Advertiser" name="ad-right"/></div>
      <!-- Fanclub -->
      <ul>
	<span name="Fanclub">
	  <%= render :partial => "layouts/fan_club" %>
	</span>
      </ul>

      <!-- Chalkboard -->
      <ul>
	<span name="Chalkboard">
	  <%= render :partial => 'users/partials/chalk_board' %>
	</span>
      </ul>
            
    </div><!-- End right column -->
    
    <div class="clear"></div>
    
  </div><!-- End Body Columns -->
     
  <!-- Navigation low -->  
  <div id="nav-low">
    <ul>
      <li class="noborder"><a href="*" name="sport01">Sport</a></li>
      <li><a href="*" name="sport01">Sport</a></li>
      <li><a href="*" name="sport01">Sport</a></li>
      <li><a href="*" name="sport01">Sport</a></li>
      <li><a href="*" name="sport01">Sport</a></li>
      <li><a href="*" name="sport01">Sport</a></li>
      <li><a href="*" name="sport01">Sport</a></li>
      <li><a href="*" name="sport01">Sport</a></li>
      <li><a href="*" name="sport01">Sport</a></li>
      <li><a href="*" name="sport01">Sport</a></li>
      <li><a href="*" name="sport01">Sport</a></li>
      <li><a href="*" name="sport01">Sport</a></li>
      <div class="clear"></div>
    </ul>
  </div>
  
</div> <!-- End main page content -->

<!-- footer -->
<div id="footer">
  <ul>
    <li class="social"><img src="/images/css/footer-links-twitter.jpg" name="twitter" alt="Follow us on Twitter" /></li>
    <li class="social"><img src="/images/css/footer-links-facebook.jpg" name="facebook" alt="Follow us on Facebook" /></li>
    <li class="social"><img src="/images/css/footer-links-homepage.jpg" name="homepage" alt="Make us your homepage" /></li>
    
    <li class="floatleft">&copy; SportBookPage.com</li>
    <li class="floatleft"><a href="mailto:*" name="contact-info">info@sportbookpage.com</a></li>
    <li class="floatleft">Further info if desired</li>
   
    <div class="clear"></div>    
  </ul>
</div>
    
</body>
</html>


